<ion-header class="ion-no-border">
  <ion-toolbar color="crecosa">
    <ion-title>SAC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col size="3" pull-md="" size-lg="1" size-md="1">
        </ion-col>
        <ion-col size="9" size-lg="1" size-md="8">
          <ion-text color="text-header">
            <h5>Información del Negocio</h5>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
    <form [formGroup]="formInformacionNegocio" (ngSubmit)="guardarInformacionNegocio()">
      <ion-card>
        <ion-card-header color="crecosa">
          <ion-card-subtitle>¿Cúanto tiempo tiene de exister el negocio?</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <br>
          <ion-input formControlName="_TIEMPO_EXISTENCIA" class="inputText" clearInput="" autocapitalize=""
            type="number"></ion-input>
          <ion-item lines="none" *ngIf="submitted && f._TIEMPO_EXISTENCIA.errors">
            <ion-label *ngIf="f._TIEMPO_EXISTENCIA.errors.required" color="danger">requerido</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header color="crecosa">
          <ion-card-subtitle>Como empezó el negocio</ion-card-subtitle>
        </ion-card-header>
        <br>
        <ion-card-content>
          <ion-select formControlName="_COMO_EMPEZO_NEGOCIO" class="selectFormulario" cancelText="cancelar"
            okText="seleccionar" placeholder="Seleccione">
            <ion-select-option *ngFor="let item of this.comoEmpezoNegocio" [value]="item.ID_CATALOGO">
              {{item.DESCRIPCION_CATALOGO}}
            </ion-select-option>
          </ion-select>
        </ion-card-content>
        <ion-item lines="none" *ngIf="submitted && f._COMO_EMPEZO_NEGOCIO.errors">
          <ion-label *ngIf="f._COMO_EMPEZO_NEGOCIO.errors.required" color="danger">requerido</ion-label>
        </ion-item>
      </ion-card>
      <ion-card>
        <ion-card-header color="crecosa">
          <ion-card-subtitle>¿La vivienda y el Negocio están en el mismo local?</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-radio-group (ionChange)="changeNegocioEsLocalAlquilado($event)"
              formControlName="_VIVIENDA_NEGOCIO_ALQUILADO">
              <ion-row>
                <ion-col>
                  <ion-item lines="none">
                    <ion-icon name="checkmark-outline" item-start></ion-icon>
                    <ion-label>Si</ion-label>
                    <ion-radio value="Sí"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item lines="none">
                    <ion-icon name="close-outline" item-start></ion-icon>
                    <ion-label>No</ion-label>
                    <ion-radio value="No"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-radio-group>
          </ion-list>
          <ion-item lines="none" *ngIf="submitted && f._VIVIENDA_NEGOCIO_ALQUILADO.errors">
            <ion-label *ngIf="f._VIVIENDA_NEGOCIO_ALQUILADO.errors.required" color="danger">requerido</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <ion-card *ngIf="this.esAlquilado">
        <ion-card-header color="crecosa">
          <ion-card-subtitle>¿El local del Negocio es alquilado?</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-radio-group (ionChange)="changeTiempoPermanencia($event)" formControlName="_LOCAL_PROPIO">
              <ion-row>
                <ion-col>
                  <ion-item lines="none">
                    <ion-icon name="checkmark-outline" item-start></ion-icon>
                    <ion-label>Si</ion-label>
                    <ion-radio value="Sí"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item lines="none">
                    <ion-icon name="close-outline" item-start></ion-icon>
                    <ion-label>No</ion-label>
                    <ion-radio value="No"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-radio-group>
          </ion-list>
          <ion-item lines="none" *ngIf="submitted && f._LOCAL_PROPIO.errors">
            <ion-label *ngIf="f._LOCAL_PROPIO.errors.required" color="danger">requerido</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="this.tiempoPermanencia && this.mostrar">
        <ion-card-header color="crecosa">
          <ion-card-subtitle>¿Tiempo de permanencia del negocio en el local?</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <br>
          <ion-input formControlName="_TIEMPO_PERMANENCIA_ALQUILER" class="inputText" clearInput="" autocapitalize=""
            type="number"></ion-input>
          <ion-item lines="none" *ngIf="submitted && f._TIEMPO_PERMANENCIA_ALQUILER.errors">
            <ion-label *ngIf="f._TIEMPO_PERMANENCIA_ALQUILER.errors.required" color="danger">requerido</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>


      <ion-card *ngIf="!this.esAlquilado && this.mostrar">
        <ion-card-header color="crecosa">
          <ion-card-subtitle>Departamento</ion-card-subtitle>
        </ion-card-header>
        <ion-item lines="none">
          <ion-select formControlName="_DEPARTAMENTO" (ionChange)="onChangeDepartamentoJuridico($event)"
            class="selectFormulario" placeholder="Seleccionar">
            <ion-select-option *ngFor="let item of this.datosDepartamento" [value]="item.ID_LUGAR">
              {{item.NOMBRE_LUGAR}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item lines="none" *ngIf="submitted && f._DEPARTAMENTO.errors">
          <ion-label *ngIf="f._DEPARTAMENTO.errors.required" color="danger">requerido</ion-label>
        </ion-item>
      </ion-card>

      <ion-card *ngIf="!this.esAlquilado && this.mostrar">
        <ion-card-header color="crecosa">
          <ion-card-subtitle>Municipio</ion-card-subtitle>
        </ion-card-header>
        <ion-item lines="none">
          <ion-select formControlName="_MUNICIPIO" class="selectFormulario" placeholder="Seleccionar">
            <ion-select-option *ngFor="let item of this.datosMunicipio" [value]="item.ID_LUGAR">
              {{item.NOMBRE_LUGAR}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item lines="none" *ngIf="submitted && f._MUNICIPIO.errors">
          <ion-label *ngIf="f._MUNICIPIO.errors.required" color="danger">requerido</ion-label>
        </ion-item>
      </ion-card>


      <ion-card *ngIf="!this.esAlquilado  && this.mostrar">
        <ion-card-header color="crecosa">
          <ion-card-subtitle>Dirección:</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <br>
          <ion-textarea formControlName="_DIRECCION_EXACTA" class="inputTextArea">
          </ion-textarea>
          <ion-item lines="none" *ngIf="submitted && f._DIRECCION_EXACTA.errors">
            <ion-label *ngIf="f._DIRECCION_EXACTA.errors.required" color="danger">requerido</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>


    </form>

    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button (click)="presentAlertConfirm()" class="btn" color="danger">Salir</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button color="crecosa" class="btn" type="submit"> Siguiente</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>