ion-loading {
    color: green;
  }
  
  .list{
    padding: 10px;
  }
  
  .btn {
    margin-top: 25px;
    margin-left: 25px;
  }



  
  #buscadorCedula{
    width: 100%;
    height: 25px;
    margin: 0 auto;
    border: none; 
    border:solid 1px #ccc;
    border-radius: 10px; text-transform: uppercase;
  }

  .inputCelular{
    width: 100%;
    height: 25px;
    margin: 0 auto;
    border: none; 
    border:solid 1px #ccc;
    border-radius: 10px;
  }


  .inputTextArea{
    width: 100%;
    height: 25px;
    border: none; 
    margin: 0 auto;
    padding: 13px;
    border:solid 1px #ccc;
    border-radius: 10px;
    font-size: 1.2em !important;
  }

  
  
  .inputText{
    width: 100%;
    height: 25px;
    margin: 0 auto;
    border: none; 
    border:solid 1px #ccc;
    border-radius: 10px;
    font-size: 1.2em !important;
}
  
  .labelBuscar {
    margin-bottom: 15px !important;
    margin-left: 10px;
    font-size: 1.1em !important;
  }
  
  .icon{
    max-width: 3vh;
    display: block;
    margin: 0 auto;
    padding: 10px;
  }
  
  ion-content{
    --background: #e9e9e9;
  }

  