<ion-header class="ion-no-border">
  <ion-toolbar color="crecosa">
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="home/seleccionar-persona"></ion-back-button>
    </ion-buttons> -->
    <ion-title>SAC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col size="3" pull-md="" size-lg="1" size-md="1">
          <ion-buttons>
            <ion-back-button defaultHref="home/seleccionar-persona"></ion-back-button>
          </ion-buttons>
        </ion-col>
        <ion-col size="9" size-lg="1" size-md="8">
          <ion-text color="text-header">
            <h5>Datos Generales</h5>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col >
          <ion-card>
            <form [formGroup]="formDocumentoRUC" (ngSubmit)="consultarDocumentoNatural()">
              <ion-list>
                <ion-item lines="none">
                  <ion-label class="labelBuscar" position="stacked">Número RUC:</ion-label>
                  <ion-input id="buscadorCedula" class="mayuscula" clearInput="" (ionInput)="cedulaRUC($event)" autocapitalize=""
                    maxlength="16" formControlName="_IDENTIDAD">
                    <ion-icon class="icon" slot="icon-only" name="person-outline"></ion-icon>
                  </ion-input>
                </ion-item>
                <ion-item lines="none" *ngIf="submitted && f._IDENTIDAD.errors">
                  <ion-label *ngIf="f._IDENTIDAD.errors.required" color="danger">requerido</ion-label>
                </ion-item>
                <ion-item lines="none">
                  <ion-label class="labelBuscar" position="stacked">Nombre Comercial:</ion-label>
                  <ion-input formControlName="_NOMBRE_COMERCIAL" class="inputText" clearInput="" autocapitalize=""
                    type="text">
                    <ion-icon class="icon" slot="icon-only" name="person" item-start></ion-icon>
                  </ion-input>
                </ion-item>
                <ion-item lines="none" *ngIf="submitted && f._NOMBRE_COMERCIAL.errors">
                  <ion-label *ngIf="f._NOMBRE_COMERCIAL.errors.required" color="danger">requerido</ion-label>
                </ion-item>
                <ion-item lines="none">
                  <ion-label class="labelBuscar" position="stacked">Razón Social:</ion-label>
                  <ion-input formControlName="_RAZON_SOCIAL" class="inputText" clearInput="" autocapitalize=""
                    type="text">
                    <ion-icon class="icon" slot="icon-only" name="person" item-start></ion-icon>
                  </ion-input>
                </ion-item>
                <ion-item lines="none" *ngIf="submitted && f._RAZON_SOCIAL.errors">
                  <ion-label *ngIf="f._RAZON_SOCIAL.errors.required" color="danger">requerido</ion-label>
                </ion-item>
                <ion-item lines="none">
                  <ion-label class="labelBuscar" position="stacked">Teléfono:
                  </ion-label>
                  <ion-input maxlength="9" [brmasker]="{mask:'0000-0000', len:9, userCaracters: false}"
                    formControlName="_TELEFONO" class="inputCelular" type="tel">
                    <ion-icon class="icon" slot="icon-only" name="phone-portrait-outline" item-start>
                    </ion-icon>
                  </ion-input>
                  <ion-item lines="none" *ngIf="submitted && f._TELEFONO.errors">
                    <ion-label color="danger">requerido</ion-label>
                  </ion-item>
                </ion-item>
                <ion-item lines="none">
                  <ion-label class="labelBuscar" position="stacked">Número de Identificación:</ion-label>
                  <ion-input [brmasker]="this.mascara" maxlength="16" (ionInput)="cedulaRepresentante($event)"
                    formControlName="_ID_REPRESENTANTE" class="inputText mayuscula" clearInput="" autocapitalize="" type="text">
                    <ion-icon class="icon" slot="icon-only" name="person" item-start></ion-icon>
                  </ion-input>
                </ion-item>
                <ion-item lines="none" *ngIf="submitted && f._ID_REPRESENTANTE.errors">
                  <ion-label *ngIf="f._ID_REPRESENTANTE.errors.required" color="danger">requerido</ion-label>
                </ion-item>
                <ion-item lines="none" *ngIf="_ID_REPRESENTANTE.errors?.pattern">
                  <ion-label color="danger">No coincide el formato</ion-label>
                </ion-item>
                <ion-item lines="none">
                  <ion-label class="labelBuscar" position="stacked">Representante Legal:</ion-label>
                  <ion-input formControlName="_NOMBRE_CONTACTO" class="inputText" clearInput="" autocapitalize=""
                    type="text">
                    <ion-icon class="icon" slot="icon-only" name="person" item-start></ion-icon>
                  </ion-input>
                </ion-item>
                <ion-item lines="none" *ngIf="submitted && f._NOMBRE_CONTACTO.errors">
                  <ion-label *ngIf="f._NOMBRE_CONTACTO.errors.required" color="danger">requerido</ion-label>
                </ion-item>
                <ion-item lines="none">
                  <ion-label class="labelBuscar" position="stacked">Celular de Contacto:
                  </ion-label>
                  <ion-input maxlength="9" [brmasker]="{mask:'0000-0000', len:9, userCaracters: false}"
                    formControlName="_TELEFONO_CONTACTO" class="inputCelular" type="tel">
                    <ion-icon class="icon" slot="icon-only" name="phone-portrait-outline" item-start>
                    </ion-icon>
                  </ion-input>
                  <ion-item lines="none" *ngIf="submitted && f._TELEFONO_CONTACTO.errors">
                    <ion-label color="danger">requerido</ion-label>
                  </ion-item>
                </ion-item>
                <ion-button class="btn" color="crecosa" type="submit">Siguiente
                </ion-button>
              </ion-list>
            </form>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>