<ion-header class="ion-no-border">
  <ion-toolbar color="crecosa">
    <ion-title>SAC</ion-title>
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="home/seleccionar-persona"></ion-back-button>
    </ion-buttons>
    <ion-title>Persona Natural</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col size="3" pull-md="-2" size-lg="1" size-md="3">
          <ion-buttons>
            <ion-back-button defaultHref="home/seleccionar-persona"></ion-back-button>
          </ion-buttons>
        </ion-col>
        <ion-col size="6" pull-md="" size-lg="3" size-md="6">
          <ion-text color="text-header">
            <h4>Nueva Solicitud</h4>
          </ion-text>
        </ion-col>
        <ion-col size="3" push-md="" size-lg="11" size-md="3">

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col pull-md="-2" pull="0" size="6" size-xl="2" size-md="4">
          <ion-card>
            <ion-card-header (click)="this.natural()">
              <ion-img src="./assets/img/nombre.svg"></ion-img>
            </ion-card-header>
            <ion-card-content>
              Nacional
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col pull-md="-2" pull="0" size="6" size-xl="2" size-md="4">
          <ion-card>
            <ion-card-header (click)="this.residente()">
              <ion-img src="./assets/img/nombre.svg"></ion-img>
            </ion-card-header>
            <ion-card-content>
              Residente
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>