
.icon{
    max-width: 32vh;
    display: block;
    margin: 0 auto;
    padding: 40px;
}

.btn_eye_icon{
    position: absolute;
    right: 0;
    bottom: 4px;
    background: transparent;
    ion-icon{
        font-size: 22px;
        color:#757575;
    }
}


.btn_eye_icon:focus{
    outline: none  !important;
}

ion-input, ion-item{
    --background: transparent;
}


.text-danger{
    color: #cf3c4f;
}

.mainSlide, .mainSlide ion-slide {
    width: 100%;
    height: 80%;
}

#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    transform: translateY(-10%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }

