<ion-header class="ion-no-border">
  <ion-toolbar color="crecosa">
    <ion-title class="ion-text-center">Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="12" size-lg="12">
          <ion-text>Sistema de Análisis Crediticio</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3" size-md="3" size-lg="3" size-xl="3" pull="-4.5" pull-md="-4.5" pull-lg="-4.5">
          <ion-img src="./assets/LOGO_CRECOSA.svg"></ion-img>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col>
          <form [formGroup]="loginForm" autocomplete="off" (ngSubmit)="login()">
            <ion-item>
              <ion-label position="stacked"> Username<span class="text-danger">*</span></ion-label>
              <ion-input type="text" formControlName="username" name="text" required="true"></ion-input>
            </ion-item>
            <ion-item lines="none" *ngIf="submitted && f.username.errors">
              <ion-label *ngIf="f.username.errors.required" color="danger">Usuario requerido</ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="stacked"> Contraseña <span class="text-danger">*</span></ion-label>
              <ion-input #passwordEyeRegister [type]="passwordTypeInput" formControlName="password" name="password"
                required="true"></ion-input>
              <button item-end class="btn_eye_icon" (click)="togglePasswordMode($event)">
                <ion-icon slot="icon-only" [name]="(passwordTypeInput === 'text')?'eye-off':'eye'"></ion-icon>
              </button>
            </ion-item>
            <ion-item lines="none" *ngIf="submitted && f.password.errors">
              <ion-label *ngIf="f.password.errors.required" color="danger">Contraseña requerida</ion-label>
            </ion-item>
            <ion-button color="crecosa" class="ion-margin-top" type="submit" expand="block">Entrar</ion-button>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>