#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    transform: translateY(-20%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  

  ion-content{
    --background: #e9e9e9;
  }


  ion-range {
    --background-color: red;
}

.alert-wrapper {
    min-width: 40px;
 }
 
 .alert-radio-label {
    white-space: normal!important;
 }

 ion-select{
    max-width: 70% !important;
}

.btn-btn-guardar{
    margin-left: 10px;
}

ion-content{
  --background: #e9e9e9;
}

.btnDerecho{
    position: static;
    right: 48px;
    bottom: 4px;
    background: transparent;
    ion-icon{
        font-size: 22px;
        color:#757575;
    }
}

.btnIzquierdo{
    position: static;
    right: 0;
    bottom: 4px;
    background: transparent;
    ion-icon{
        font-size: 22px;
        color:#757575;
    }
}

.list{
  padding: 10px;
}

#selectProduct{
    width: 100%;
    height: 25px;
    margin: 0 auto;
    border: none; 
    border:solid 1px #ccc;
    border-radius: 10px;
}

#selectAseguradoras{
    width: 100%;
    height: 25px;
    margin: 0 auto;
    border: none; 
    border:solid 1px #ccc;
    border-radius: 10px;
}

#inputPlazo{
    width: 100%;
    height: 25px;
    margin: 0 auto;
    border: none; 
    border:solid 1px #ccc;
    border-radius: 10px;
}

#inputDispuestoApagar{
    width: 100%;
    height: 25px;
    margin: 0 auto;
    border: none; 
    border:solid 1px #ccc;
    border-radius: 10px;
}

#inputMonto{
    width: 5px;
    height: 25px;
    margin: 0 auto;
    border: none; 
    border:solid 1px #ccc;
    border-radius: 10px;
}

.inputText{
    width: 100%;
    height: 25px;
    margin: 0 auto;
    border: none; 
    border:solid 1px #ccc;
    border-radius: 10px;
    font-size: 1.2em !important;
}
.inputTextArea{
  width: 100%;
  height: 25px;
  border: none; 
  margin: 0 auto;
  padding: 13px;
  border:solid 1px #ccc;
  border-radius: 10px;
  font-size: 1.2em !important;
}



.telefonoItem{
  padding: 10px;
}

.list{
  padding: 10px;
}

#selectClass{
  width: 100%;
  height: 25px;
  margin: 0 auto;
  padding: 15px;
  border: none; 
  border:solid 1px #ccc;
  border-radius: 10px;
}


.labelBuscar {
    margin-bottom: 15px !important;
    margin-left: 10px;
    font-size: 1.2em !important;
  }
  .labelEncabezado {
    margin: auto;
  }
  
  .icon{
    max-width: 3vh;
    display: block;
    margin: 0 auto;
    padding: 10px;
  }




  .btn_eye_icon{
    position: absolute;
    right: 0;
    bottom: 8px;
    padding-right: 40px;
    padding-bottom: 5px;
    background: transparent;
    ion-icon{
        font-size: 22px;
        color:#757575;
    }
}
  
  ion-select{
    max-width: 100% !important;
  
    // --max-height: 100% !important;	
  }

  ion-alert {
    --width: 10px;
  }

  ion-select::part(placeholder) {
    color: black;
    opacity: 1;
  }

  .selectFormulario{
    width: 100%;
    height: 25px;
    margin: 0 auto;
    padding: 15px;
    border: none; 
    border:solid 1px #ccc;
    border-radius: 10px;
  }

  .list{
    padding: 10px;
  }

  .btnDerecho{
    position: static;
    right: 48px;
    bottom: 4px;
    background: transparent;
    ion-icon{
        font-size: 22px;
        color:#757575;
    }
}

.btnIzquierdo{
    position: static;
    right: 0;
    bottom: 4px;
    background: transparent;
    ion-icon{
        font-size: 22px;
        color:#757575;
    }
}

.inputCelular{
  width: 100%;
  height: 25px;
  margin: 0 auto;
  border: none; 
  border:solid 1px #ccc;
  border-radius: 10px;
}

ion-item-divider {
  --color: blue;
}

.btn {
  margin-top: 25px;
  margin-left: 25px;
}

div {
  width: 100%;
}

.inputTextArea{
  width: 100%;
  height: 25px;
  border: none; 
  margin: 0 auto;
  padding: 13px;
  border:solid 1px #ccc;
  border-radius: 10px;
  font-size: 1.2em !important;
}






.radio .radio-icon {
  visibility: visible !important;
}

.radio .radio-icon:before {
  content: "" !important;
  border: 2px solid black !important;
  width: 24px !important;
  height: 24px !important;
  border-radius: 50% !important;
  overflow: hidden !important;
}

.radio .radio-icon:after {
  content: "" !important;
  position: absolute !important;
  right: 20px !important;
  top: 22px !important;
  background: black !important;
  width: 12px !important;
  height: 12px !important;
  border-radius: 50% !important;
  overflow: hidden !important;
  transition: -webkit-transform .28s cubic-bezier(0.420, 0.000, 0.000, 1.650);
  transition: transform .28s cubic-bezier(0.420, 0.000, 0.000, 1.650);
  -webkit-transform: scale(0);
  transform: scale(0);
}

.radio.item-radio > input[type=radio]:checked ~ .radio-icon:after {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.radio .item-content {
  background-color: #fff;
  margin: 0;
  padding-right: 50px;
  padding-left: 0px;
}

.radio.item-radio > input[type=radio]:checked ~ .item-content {
  background-color: #fff;
}

.radio-inline.item {
  display: inline-block;
  border: none;
  margin: 0;
  height: 50px;
}

.radio-blue .radio-icon:after {
  background: #2196F3 !important;
}

.radio-blue .radio-icon:before {
  border-color: #2196F3 !important;
}

.radio-teal .radio-icon:after {
  background: #009688 !important;
}

.radio-teal .radio-icon:before {
  border-color: #009688 !important;
}

.radio-gray .radio-icon:after {
  background: #B6B6B6 !important;
}

.radio-gray .radio-icon:before {
  border-color: #B6B6B6 !important;
}
