<ion-header class="ion-no-border">
  <ion-toolbar color="crecosa">
    <ion-title>SAC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col size="3" size-md="5"></ion-col>
        <ion-col size="6" size-md="3">
          <ion-text color="text-header">
            <h5>Información General</h5>
          </ion-text>
        </ion-col>
        <ion-col size="3" size-md="4"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <form [formGroup]="formPersonaNatural" (ngSubmit)="guardarPersonaNatural()">
            <ion-card>
              <ion-list>
                <ion-item lines="none">
                  <ion-label class="labelBuscar ion-text-wrap" position="stacked">Dirección:</ion-label>
                  <ion-textarea class="inputTextArea" formControlName="_DIRECCION_EXACTA">
                  </ion-textarea>
                </ion-item>
                <ion-item lines="none" *ngIf="submitted && f._DIRECCION_EXACTA.errors">
                  <ion-label *ngIf="f._DIRECCION_EXACTA.errors.required" color="danger">requerido</ion-label>
                </ion-item>
                <br>
                <ion-item lines="none">
                  <ion-label position="stacked" class="labelBuscar ion-text-wrap">Departamento:</ion-label>
                  <ion-select interface="action-sheet" formControlName="_DEPARTAMENTO" okText="Seleccionar"
                    cancelText="Cancelar" (ionChange)="onChangeDepartamentoJuridico($event)" class="selectFormulario"
                    placeholder="Seleccionar">
                    <ion-select-option *ngFor="let item of this.datosDepartamento" [value]="item.ID_LUGAR">
                      {{item.NOMBRE_LUGAR}}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item lines="none" *ngIf="submitted && f._DEPARTAMENTO.errors">
                  <ion-label *ngIf="f._DEPARTAMENTO.errors.required" color="danger">requerido</ion-label>
                </ion-item>
                <br>
                <ion-item lines="none">
                  <ion-label position="stacked" class="labelBuscar ion-text-wrap">Municipio:</ion-label>
                  <ion-select interface="action-sheet" okText="Seleccionar" cancelText="Cancelar"
                    formControlName="_MUNICIPIO" class="selectFormulario" placeholder="Seleccionar">
                    <ion-select-option *ngFor="let item of this.datosMunicipio" [value]="item.ID_LUGAR">
                      {{item.NOMBRE_LUGAR}}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item lines="none" *ngIf="submitted && f._MUNICIPIO.errors">
                  <ion-label *ngIf="f._MUNICIPIO.errors.required" color="danger">requerido</ion-label>
                </ion-item>
                <br>
                <ion-item lines="none">
                  <ion-label class="labelBuscar ion-text-wrap" position="stacked">Correo electrónico:</ion-label>
                  <ion-input formControlName="_EMAIL" class="inputText" clearInput="" autocapitalize="" type="email">
                    <ion-icon class="icon" slot="icon-only" name="mail-outline" item-start></ion-icon>
                  </ion-input>
                </ion-item>
                <div *ngIf="_EMAIL.errors?.pattern">
                  <ion-item lines="none">
                    <ion-label color="danger">No coincide el formato</ion-label>
                  </ion-item>
                </div>
                <br>
                <ion-item lines="none">
                  <ion-label position="stacked" class="labelBuscar ion-text-wrap">Estado Civil:</ion-label>
                  <ion-select okText="Seleccionar" cancelText="Cancelar" formControlName="_ESTADO_CIVIL"
                    (ionChange)="onChangeEstadoCivil($event)" class="selectFormulario" placeholder="Seleccionar">
                    <ion-select-option *ngFor="let item of this.datosCivil" [value]="item.CODIGO_ESTADO_CIVIL">
                      {{item.DESC_ESTADO_CIVIL}}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item lines="none" *ngIf="submitted && f._ESTADO_CIVIL.errors">
                  <ion-label *ngIf="f._ESTADO_CIVIL.errors.required" color="danger">requerido</ion-label>
                </ion-item>
                <div *ngIf="esCasado">
                  <ion-item lines="none">
                    <ion-label class="labelBuscar ion-text-wrap" position="stacked">Número de Identificación:
                    </ion-label>
                    <ion-input [brmasker]="this.mascara" maxlength="16" formControlName="_NUMERO_IDENTIFICACION"
                      class="inputText" clearInput="" autocapitalize="" type="text" (ionInput)="cedulaConyugue($event)"
                      autocapitalize="" maxlength="16">
                      <ion-icon class="icon" slot="document-outline" name="mail-outline" item-start></ion-icon>
                    </ion-input>
                    <div *ngIf="_NO_IDENTIFICACION_CONYUGUE.errors?.pattern">
                      <ion-item lines="none">
                        <ion-label color="danger">No coincide el formato</ion-label>
                      </ion-item>
                    </div>
                  </ion-item>
                  <ion-item lines="none" *ngIf="submitted && f._NUMERO_IDENTIFICACION.errors">
                    <ion-label *ngIf="f._NUMERO_IDENTIFICACION.errors.required" color="danger">requerido</ion-label>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label class="labelBuscar ion-text-wrap" position="stacked">Primer Nombre Conyugue:</ion-label>
                    <ion-input formControlName="_PRIMER_NOMBRE_CONYUGUE" class="inputText" clearInput=""
                      autocapitalize="" type="text">
                      <ion-icon class="icon" slot="icon-only" name="person" item-start></ion-icon>
                    </ion-input>
                  </ion-item>
                  <ion-item lines="none" *ngIf="submitted && f._PRIMER_NOMBRE_CONYUGUE.errors">
                    <ion-label *ngIf="f._PRIMER_NOMBRE_CONYUGUE.errors.required" color="danger">requerido</ion-label>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label class="labelBuscar" position="stacked">Segundo Nombre Conyugue:</ion-label>
                    <ion-input formControlName="_SEGUNDO_NOMBRE_CONYUGUE" class="inputText" clearInput=""
                      autocapitalize="" type="text">
                      <ion-icon class="icon" slot="icon-only" name="person" item-start></ion-icon>
                    </ion-input>
                  </ion-item>
                  <ion-item lines="none" *ngIf="submitted && f._SEGUNDO_NOMBRE_CONYUGUE.errors">
                    <ion-label *ngIf="f._SEGUNDO_NOMBRE_CONYUGUE.errors.required" color="danger">requerido</ion-label>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label class="labelBuscar" position="stacked">Primer Apellido Conyugue:</ion-label>
                    <ion-input formControlName="_PRIMER_APELLIDO_CONYUGUE" class="inputText" clearInput=""
                      autocapitalize="" type="text">
                      <ion-icon class="icon" slot="icon-only" name="person" item-start></ion-icon>
                    </ion-input>
                  </ion-item>
                  <ion-item lines="none" *ngIf="submitted && f._PRIMER_APELLIDO_CONYUGUE.errors">
                    <ion-label *ngIf="f._PRIMER_APELLIDO_CONYUGUE.errors.required" color="danger">requerido</ion-label>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label class="labelBuscar" position="stacked">Segundo Apellido Conyugue:</ion-label>
                    <ion-input formControlName="_SEGUNDO_APELLIDO_CONYUGUE" class="inputText" clearInput=""
                      autocapitalize="" type="text">
                      <ion-icon class="icon" slot="icon-only" name="person" item-start></ion-icon>
                    </ion-input>
                  </ion-item>
                  <ion-item lines="none" *ngIf="submitted && f._SEGUNDO_APELLIDO_CONYUGUE.errors">
                    <ion-label *ngIf="f._SEGUNDO_APELLIDO_CONYUGUE.errors.required" color="danger">requerido</ion-label>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label class="labelBuscar" position="stacked">Celular Conyugue:</ion-label>
                    <ion-input maxlength="9" [brmasker]="{mask:'0000-0000', len:9, userCaracters: false}"
                      formControlName="_TELEFONO_CELULAR_CONYUGUE" class="inputText" clearInput="" autocapitalize=""
                      type="tel">
                      <ion-icon class="icon" slot="icon-only" name="phone-portrait-outline" item-start></ion-icon>
                    </ion-input>
                  </ion-item>
                  <ion-item lines="none" *ngIf="submitted && f._TELEFONO_CELULAR_CONYUGUE.errors">
                    <ion-label *ngIf="f._TELEFONO_CELULAR_CONYUGUE.errors.required" color="danger">requerido</ion-label>
                  </ion-item>
                  <!-- <ion-item lines="none">
                    <ion-label class="labelBuscar" position="stacked">Teléfono Conyugue:</ion-label>
                    <ion-input maxlength="9" [brmasker]="{mask:'0000-0000', len:9, userCaracters: false}"
                      formControlName="_TELEFONO_CONVENCIONA_CONYUGUE" class="inputText" clearInput="" autocapitalize=""
                      type="tel">
                      <ion-icon class="icon" slot="icon-only" name="call-outline" item-start></ion-icon>
                    </ion-input>
                  </ion-item>
                  <ion-item lines="none" *ngIf="submitted && f._TELEFONO_CONVENCIONA_CONYUGUE.errors">
                    <ion-label *ngIf="f._TELEFONO_CONVENCIONA_CONYUGUE.errors.required" color="danger">requerido
                    </ion-label>
                  </ion-item> -->
                  <ion-item lines="none">
                    <ion-label class="labelBuscar ion-text-wrap" position="stacked">Correo electrónico conyugue:
                    </ion-label>
                    <ion-input formControlName="_EMAIL_CONYUGUE" class="inputText" clearInput="" autocapitalize=""
                      type="email">
                      <ion-icon class="icon" slot="icon-only" name="mail-outline" item-start></ion-icon>
                    </ion-input>
                  </ion-item>
                  <div *ngIf="_EMAIL_CONYUGUE.errors?.pattern">
                    <ion-item lines="none">
                      <ion-label color="danger">No coincide el formato</ion-label>
                    </ion-item>
                  </div>
                </div>
                <br>
                <ion-list>
                  <ion-list-header>
                    <ion-label class="ion-text-wrap">
                      ¿El lugar donde vive es alquilado?
                    </ion-label>
                  </ion-list-header>
                  <ion-radio-group (ionChange)="changeAlquiler($event)" formControlName="_ES_ALQUILADO">
                    <ion-row>
                      <ion-col>
                        <ion-item lines="none">
                          <ion-radio value="Sí"></ion-radio>
                          <ion-icon name="" item-start></ion-icon>
                          <ion-label>Sí</ion-label>
                        </ion-item>
                      </ion-col>
                      <ion-col>
                        <ion-item lines="none">

                          <ion-radio value="No"></ion-radio>
                          <ion-icon name="" item-start></ion-icon>
                          <ion-label>No</ion-label>

                        </ion-item>
                      </ion-col>
                    </ion-row>
                  </ion-radio-group>
                  <ion-item lines="none" *ngIf="submitted && f._ES_ALQUILADO.errors">
                    <ion-label *ngIf="f._ES_ALQUILADO.errors.required" color="danger">requerido</ion-label>
                  </ion-item>
                </ion-list>
                <ion-item lines="none" *ngIf="this.alquiler">
                  <ion-label class="labelBuscar ion-text-wrap" position="stacked">Tiempo de residir en la propiedad:
                  </ion-label>
                  <ion-input maxlength="2" formControlName="_TIEMPO_RESIDIR" class="inputText" autocapitalize=""
                    type="tel">
                    <ion-icon class="icon" slot="icon-only" name="time-outline" item-start>
                    </ion-icon>
                  </ion-input>
                  <button disabled type="button" item-end class="btn_eye_icon">
                    <ion-note class="note" slot="end">Años</ion-note>
                  </button>
                </ion-item>
                <ion-item lines="none" *ngIf="submitted && f._TIEMPO_RESIDIR.errors">
                  <ion-label *ngIf="f._TIEMPO_RESIDIR.errors.required" color="danger">requerido</ion-label>
                </ion-item>
                <ion-item lines="none">
                  <ion-label class="labelBuscar ion-text-wrap" position="stacked">¿Cuantas personas dependen de usted?
                  </ion-label>
                  <ion-input formControlName="_DEPENDIENTES" class="inputText" clearInput="" autocapitalize=""
                    type="number">
                    <ion-icon class="icon" slot="icon-only" name="baseball-outline" item-start></ion-icon>
                  </ion-input>
                </ion-item>
                <ion-item lines="none" *ngIf="submitted && f._DEPENDIENTES.errors">
                  <ion-label *ngIf="f._DEPENDIENTES.errors.required" color="danger">requerido</ion-label>
                </ion-item>
                <ion-item lines="none">
                  <ion-label class="labelBuscar ion-text-wrap" position="stacked">¿Cuántos de los dependientes se
                    encuentran en edad
                    escolar?</ion-label>
                  <ion-input formControlName="_DEPENDIENTES_ESCOLARES" class="inputText" clearInput="" autocapitalize=""
                    type="number">
                    <ion-icon class="icon" slot="icon-only" name="school-outline" item-start></ion-icon>

                  </ion-input>
                </ion-item>
                <ion-item lines="none" *ngIf="submitted && f._DEPENDIENTES_ESCOLARES.errors">
                  <ion-label *ngIf="f._DEPENDIENTES_ESCOLARES.errors.required" color="danger">requerido</ion-label>
                </ion-item>
                <ion-list>
                  <ion-list-header>
                    <ion-label class="ion-text-wrap">
                      ¿Tiene usted alguna enfermedad?
                    </ion-label>
                  </ion-list-header>
                  <ion-radio-group (ionChange)="changeEnfermo($event)" formControlName="_ES_ENFERMO">
                    <ion-row>
                      <ion-col>
                        <ion-item lines="none">
                          <ion-radio value="Sí"></ion-radio>
                          <ion-icon name="" item-start></ion-icon>
                          <ion-label>Sí</ion-label>
                        </ion-item>
                      </ion-col>
                      <ion-col>
                        <ion-item lines="none">
                          <ion-radio value="No"></ion-radio>
                          <ion-icon name="" item-start></ion-icon>
                          <ion-label>No</ion-label>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                  </ion-radio-group>
                  <ion-item lines="none" *ngIf="submitted && f._ES_ENFERMO.errors">
                    <ion-label *ngIf="f._ES_ENFERMO.errors.required" color="danger">requerido</ion-label>
                  </ion-item>
                </ion-list>
                <ion-item lines="none" *ngIf="this.estadoEnfermo">
                  <ion-label position="stacked" class="labelBuscar ion-text-wrap">Seleccione una de las siguientes:
                  </ion-label>
                  <ion-select okText="Seleccionar" cancelText="Cancelar" interface="action-sheet"
                    formControlName="_SELECION_ENFERMEDAD" class="selectFormulario" placeholder="Seleccionar">
                    <ion-select-option *ngFor="let item of this.datosEnfermedad" [value]="item.ID_CATALOGO">
                      {{item.DESCRIPCION_CATALOGO}}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item lines="none" *ngIf="submitted && f._SELECION_ENFERMEDAD.errors">
                  <ion-label *ngIf="f._SELECION_ENFERMEDAD.errors.required" color="danger">requerido</ion-label>
                </ion-item>
                <ion-list>
                  <ion-list-header>
                    <ion-label class="ion-text-wrap">
                      ¿Tiene algún pariente cercano con problemas?
                    </ion-label>
                  </ion-list-header>
                  <ion-radio-group (ionChange)="changeEnfermoPariente($event)"
                    formControlName="_TIENE_FAMILIAR_PROBLEMA">
                    <ion-row>
                      <ion-col>
                        <ion-item lines="none">
                          <ion-radio value="Sí"></ion-radio>
                          <ion-icon item-start></ion-icon>
                          <ion-label>Sí</ion-label>
                          <!-- <ion-icon name="checkmark-outline" item-start></ion-icon> -->
                        </ion-item>
                      </ion-col>
                      <ion-col>
                        <ion-item lines="none">
                          <ion-radio value="No"></ion-radio>
                          <ion-icon item-start></ion-icon>
                          <ion-label>No</ion-label>
                          <!-- <ion-icon name="close-outline" item-start></ion-icon> -->
                        </ion-item>
                      </ion-col>
                    </ion-row>
                  </ion-radio-group>
                  <ion-item lines="none" *ngIf="submitted && f._TIENE_FAMILIAR_PROBLEMA.errors">
                    <ion-label *ngIf="f._TIENE_FAMILIAR_PROBLEMA.errors.required" color="danger">requerido</ion-label>
                  </ion-item>
                </ion-list>
                <ion-list>
                  <ion-list-header>
                    <ion-label class="ion-text-wrap">
                      ¿Los servicios básicos están a su nombre?
                    </ion-label>
                  </ion-list-header>
                  <ion-radio-group (ionChange)="changeServicioBasicos($event)" formControlName="_SERVICIOS_BASICO">
                    <ion-row>
                      <ion-col>
                        <ion-item lines="none">
                          <ion-radio value="Sí"></ion-radio>
                          <ion-icon name="" item-start></ion-icon>
                          <ion-label>Sí</ion-label>

                        </ion-item>
                      </ion-col>
                      <ion-col>
                        <ion-item lines="none">
                          <ion-radio value="No"></ion-radio>
                          <ion-icon name="" item-start></ion-icon>
                          <ion-label>No</ion-label>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                  </ion-radio-group>
                  <ion-item lines="none" *ngIf="submitted && f._SERVICIOS_BASICO.errors">
                    <ion-label *ngIf="f._SERVICIOS_BASICO.errors.required" color="danger">requerido</ion-label>
                  </ion-item>
                </ion-list>
                <ion-item lines="none" *ngIf="this.servicioBasico">
                  <ion-label class="labelBuscar ion-text-wrap" position="stacked">Nombre de la persona a quien están
                    asociados los
                    servicios</ion-label>
                  <ion-input formControlName="_NOMBRE_PERSONA_BASICO" class="inputText" clearInput="" autocapitalize=""
                    type="text">
                    <ion-icon class="icon" slot="icon-only" name="people-outline" item-start></ion-icon>
                  </ion-input>
                </ion-item>
                <ion-item lines="none" *ngIf="submitted && f. _NOMBRE_PERSONA_BASICO.errors">
                  <ion-label *ngIf="f. _NOMBRE_PERSONA_BASICO.errors.required" color="danger">requerido</ion-label>
                </ion-item>
                <ion-item lines="none" *ngIf="this.servicioBasico">
                  <ion-label position="stacked" class="labelBuscar ion-text-wrap">¿Relación con la persona que tiene a
                    nombre los
                    servicios?</ion-label>
                  <ion-select okText="Seleccionar" cancelText="Cancelar" interface="action-sheet"
                    formControlName="_RELACION_PERSONA_SERVICO_BASICO" class="selectFormulario"
                    placeholder="Seleccionar">
                    <ion-select-option *ngFor="let item of this.relacionPariente" [value]="item.ID_CATALOGO">
                      {{item.DESCRIPCION_CATALOGO}}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item lines="none" *ngIf="submitted && f._RELACION_PERSONA_SERVICO_BASICO.errors">
                  <ion-label *ngIf="f._RELACION_PERSONA_SERVICO_BASICO.errors.required" color="danger">requerido
                  </ion-label>
                </ion-item>
                <br>
              </ion-list>
            </ion-card>
            <ion-grid>
              <ion-row>
                <ion-col size="6">
                  <ion-button class="btn" (click)="this.presentAlertConfirm()" color="danger">Salir</ion-button>
                </ion-col>
                <ion-col size="6">
                  <ion-button color="crecosa" class="btn" type="submit"> Siguiente</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>