
  ion-select{
    max-width: 100% !important;
  }

  ion-select::part(placeholder) {
    color: black;
    opacity: 1;
  }


ion-content{
  --background: #e9e9e9;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 5%;
  transform: translateY(-5%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.selectFormulario{
  width: 100%;
  height: 25px;
  margin: 0 auto;
  padding: 15px;
  border: none; 
  border:solid 1px #ccc;
  border-radius: 10px;
}


.labelBuscar {
  margin-bottom: 15px !important;
  margin-left: 10px;
  font-size: 1.2em !important;
}