<ion-header class="ion-no-border">
  <ion-toolbar color="crecosa">
    <ion-title>SAC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col size="3" size-md="3">

        </ion-col>
        <ion-col size="6" size-md="6">
          <ion-text color="text-header">
            <h5>Actividades</h5>
          </ion-text>
        </ion-col>
        <ion-col size="3" size-md="3">

        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col>
          <ion-card>
            <form [formGroup]="formActividad" (ngSubmit)="guardar()">
              <ion-list>
                <ion-item lines="none">
                  <ion-label position="stacked" class="labelBuscar">Sector Economico:</ion-label>
                  <ion-select [(ngModel)]="selectIdSectorEconomico" (ionChange)="onChangeSectorEconomico($event)"
                    class="selectFormulario" formControlName="_SECTOR_ECONOMICO" placeholder="Seleccionar"
                    cancelText="Cancelar" interface="action-sheet">
                    <ion-select-option *ngFor="let item of this.sectorEconomico"
                      [value]="item.ID_TIPO_ACTIVIDAD_ECONOMICA">
                      {{item.DESCRIPCION}}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item lines="none" *ngIf="submitted && f._SECTOR_ECONOMICO.errors">
                  <ion-label *ngIf="f._SECTOR_ECONOMICO.errors.required" color="danger">requerido</ion-label>
                  <ion-label *ngIf="f._ACTIVIDAD_ECONOMICA.errors?.mayorACero" color="danger">requerido</ion-label>
                </ion-item>
                <ion-item lines="none">
                  <ion-label position="stacked" class="labelBuscar">Actividad Economica:</ion-label>
                  <ion-select [(ngModel)]="selectIdActividad" (ionChange)="onChangeActividad($event)"
                    class="selectFormulario" formControlName="_ACTIVIDAD_ECONOMICA" placeholder="Seleccionar"
                    cancelText="Cancelar" interface="action-sheet">
                    <ion-select-option *ngFor="let item of this.activadadEconomica"
                      [value]="item.ID_ACTIVIDA_ECONOMICA">
                      {{item.DESCRIPCION_ACTIVIDAD_ECONOMICA}}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item lines="none" *ngIf="submitted && f._ACTIVIDAD_ECONOMICA.errors">
                  <ion-label *ngIf="f._ACTIVIDAD_ECONOMICA.errors?.required" color="danger">requerido</ion-label>
                  <ion-label *ngIf="f._ACTIVIDAD_ECONOMICA.errors?.mayorACero" color="danger">requerido</ion-label>
                </ion-item>
                <ion-item lines="none">
                  <ion-label position="stacked" class="labelBuscar">SubActividad Economica:</ion-label>
                  <ion-select [(ngModel)]="selectIdSubActividad" (ionChange)="onChangeSubActividad()"
                    class="selectFormulario" formControlName="_SUB_ACTIVIDAD_ECONOMICA" placeholder="Seleccionar"
                    cancelText="Cancelar" interface="action-sheet">
                    <ion-select-option *ngFor="let item of this.subActividadEconomica"
                      [value]="item.ID_ACTIVIDA_ECONOMICA">
                      {{item.DESCRIPCION_ACTIVIDAD_ECONOMICA}}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item lines="none" *ngIf="submitted && f._SUB_ACTIVIDAD_ECONOMICA.errors">
                  <ion-label *ngIf="f._SUB_ACTIVIDAD_ECONOMICA.errors.required" color="danger">requerido</ion-label>
                  <ion-label *ngIf="f._ACTIVIDAD_ECONOMICA.errors?.mayorACero" color="danger">requerido</ion-label>
                </ion-item>
              </ion-list>
            </form>
          </ion-card>
        </ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col>
          <ion-card>
            <form [formGroup]="formActividad" (ngSubmit)="guardar()">
              <ion-list>
                <ion-item lines="none">
                  <ion-label position="stacked" class="labelBuscar">Actividad Económica:</ion-label>
                  <ion-select [(ngModel)]="selectIdActividad" (ionChange)="onChangeActividad($event)"
                    class="selectFormulario" formControlName="_ACTIVIDAD_ECONOMICA" placeholder="Seleccionar"
                    cancelText="Cancelar" interface="action-sheet">
                    <ion-select-option *ngFor="let item of this.activadadEconomica"
                      [value]="item.ID_ACTIVIDA_ECONOMICA">
                      {{item.DESCRIPCION_ACTIVIDAD_ECONOMICA}}
                    </ion-select-option>
                  </ion-select>
                  <ion-item lines="none" *ngIf="submitted && f._ACTIVIDAD_ECONOMICA.errors">
                    <ion-label *ngIf="f._ACTIVIDAD_ECONOMICA.errors?.required" color="danger">requerido</ion-label>
                    <ion-label *ngIf="f._ACTIVIDAD_ECONOMICA.errors?.mayorACero" color="danger">requerido</ion-label>
                  </ion-item>
                </ion-item>

                <!-- <ionic-selectable [items]="this.activadadEconomica",   [canSearch]="true"
                ></ionic-selectable> -->
              </ion-list>
            </form>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-button color="danger" (click)="this.presentAlertConfirm()">
            Salir
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button type="submit" color="crecosa" (click)="this.guardar()">
            Siguiente
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>