<ion-header class="ion-no-border">
  <ion-toolbar color="crecosa">
    <ion-title>SAC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col size="3" size-md="3">

        </ion-col>
        <ion-col size="6" size-md="6">
          <ion-text color="text-header">
            <h5>Economía familiar</h5>
          </ion-text>
        </ion-col>
        <ion-col size="3" size-md="3">

        </ion-col>
      </ion-row>
      <form [formGroup]="formEconomiaFamiliar" (ngSubmit)="guardarEconomiaFamiliar()">
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-card-header color="crecosa">
                <ion-card-subtitle>¿Es usted asalariado?</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <ion-radio-group (ionChange)="changeAsalariado($event)" formControlName="_ES_ASALARIADO">
                  <ion-row>
                    <ion-col>
                      <ion-item lines="none">
                        <ion-icon name="checkmark-outline" item-start></ion-icon>
                        <ion-label>Si</ion-label>
                        <ion-radio value="Sí"></ion-radio>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item lines="none">
                        <ion-icon name="close-outline" item-start></ion-icon>
                        <ion-label>No</ion-label>
                        <ion-radio value="No"></ion-radio>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-radio-group>
                <ion-item lines="none" *ngIf="submitted && f._ES_ASALARIADO.errors">
                  <ion-label *ngIf="f._ES_ASALARIADO.errors.required" color="danger">requerido</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
            <ion-card *ngIf="this.esAsalariado">
              <ion-card-header color="crecosa">
                <ion-card-subtitle>¿Cuál es el nombre del lugar donde trabaja?</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <br>
                <ion-input formControlName="_NOMBRE_LUGAR_TRABAJA" class="inputText" clearInput="" autocapitalize=""
                  type="text">
                </ion-input>
                <ion-item lines="none" *ngIf="submitted && f._NOMBRE_LUGAR_TRABAJA.errors">
                  <ion-label *ngIf="f._NOMBRE_LUGAR_TRABAJA.errors.required" color="danger">requerido</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
            <ion-card *ngIf="this.esAsalariado">
              <ion-card-header color="crecosa">
                <ion-card-subtitle>Tiempo de trabajar en el lugar</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <br>
                <ion-input formControlName="_TIEMPO_TRABAJAR_LUGAR" class="inputText" clearInput="" autocapitalize=""
                  type="number">
                  <button disabled type="button" item-end class="btn_eye_icon">
                    <ion-note class="note" slot="end">Años</ion-note>
                  </button>
                </ion-input>
                <ion-item lines="none" *ngIf="submitted && f._TIEMPO_TRABAJAR_LUGAR.errors">
                  <ion-label *ngIf="f._TIEMPO_TRABAJAR_LUGAR.errors.required" color="danger">requerido</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
            <ion-card *ngIf="this.esAsalariado">
              <ion-card-header color="crecosa">
                <ion-card-subtitle>Cargo que desempeña en el lugar</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <br>
                <ion-input formControlName="_CARGO_DESEMPENA_LUGAR" class="inputText" clearInput="" autocapitalize=""
                  type="text">
                </ion-input>
                <ion-item lines="none" *ngIf="submitted && f._CARGO_DESEMPENA_LUGAR.errors">
                  <ion-label *ngIf="f._CARGO_DESEMPENA_LUGAR.errors.required" color="danger">requerido</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
            <ion-card *ngIf="this.esAsalariado">
              <ion-card-header color="crecosa">
                <ion-card-subtitle>¿Cuánto es el monto de ingreso Neto recibido como salario?</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <br>
                <ion-input formControlName="_MONTO_LUGAR" class="inputText" clearInput="" autocapitalize=""
                  type="number">
                  <button disabled type="button" item-end class="btn_eye_icon">
                    <ion-note class="note" slot="end">Córdoba</ion-note>
                  </button>
                </ion-input>
                <ion-item lines="none" *ngIf="submitted && f._MONTO_LUGAR.errors">
                  <ion-label *ngIf="f._MONTO_LUGAR.errors.required" color="danger">requerido</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
            <ion-card *ngIf="esCasado">
              <ion-card-header color="crecosa">
                <ion-card-subtitle>¿Su conyugue tiene algún trabajo remunerado fuera de su casa?</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <ion-list>
                  <ion-radio-group (ionChange)="changeConyugueSalario($event)" formControlName="_CONYUGUE_TRABAJO">
                    <ion-row>
                      <ion-col>
                        <ion-item lines="none">
                          <ion-icon name="checkmark-outline" item-start></ion-icon>
                          <ion-label>Si</ion-label>
                          <ion-radio value="Sí"></ion-radio>
                        </ion-item>
                      </ion-col>
                      <ion-col>
                        <ion-item lines="none">
                          <ion-icon name="close-outline" item-start></ion-icon>
                          <ion-label>No</ion-label>
                          <ion-radio value="No"></ion-radio>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                  </ion-radio-group>
                  <ion-item lines="none" *ngIf="submitted && f._CONYUGUE_TRABAJO.errors">
                    <ion-label *ngIf="f._CONYUGUE_TRABAJO.errors.required" color="danger">requerido</ion-label>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
            <ion-card *ngIf="this.aportaEsposa">
              <ion-card-header color="crecosa">
                <ion-card-subtitle>¿Cuánto aporta su conyugue a la economía familiar?</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <br>
                <ion-input formControlName="_APORTAR_CONYUGUE" class="inputText" clearInput="" autocapitalize=""
                  type="number">
                  <button disabled type="button" item-end class="btn_eye_icon">
                    <ion-note class="note" slot="end">Córdoba</ion-note>
                  </button>
                </ion-input>
                <ion-item lines="none" *ngIf="submitted && f._APORTAR_CONYUGUE.errors">
                  <ion-label *ngIf="f._APORTAR_CONYUGUE.errors.required" color="danger">requerido</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-header color="crecosa">
                <ion-card-subtitle>¿Otra persona en el hogar contribuye regularmente con parte de su salario a la
                  economía familiar?</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <ion-list>
                  <ion-radio-group (ionChange)="changeOtraPersonaAporta($event)" formControlName="_OTRA_PERSONA">
                    <ion-row>
                      <ion-col>
                        <ion-item lines="none">
                          <ion-icon name="checkmark-outline" item-start></ion-icon>
                          <ion-label>Si</ion-label>
                          <ion-radio value="Sí"></ion-radio>
                        </ion-item>
                      </ion-col>
                      <ion-col>
                        <ion-item lines="none">
                          <ion-icon name="close-outline" item-start></ion-icon>
                          <ion-label>No</ion-label>
                          <ion-radio value="No"></ion-radio>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                  </ion-radio-group>
                  <ion-item lines="none" *ngIf="submitted && f._OTRA_PERSONA.errors">
                    <ion-label *ngIf="f._OTRA_PERSONA.errors.required" color="danger">requerido</ion-label>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
            <ion-card *ngIf="this.otraPersonaAporta">
              <ion-card-header color="crecosa">
                <ion-card-subtitle>¿Cuál es el monto con el que estas otras personas contribuyen a la economía familiar?
                </ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <br>
                <ion-input formControlName="_MONTO_OTRA_PERSONA" class="inputText" clearInput="" autocapitalize=""
                  type="number">
                  <button disabled type="button" item-end class="btn_eye_icon">
                    <ion-note class="note" slot="end">Córdoba</ion-note>
                  </button>
                </ion-input>
                <ion-item lines="none" *ngIf="submitted && f._MONTO_OTRA_PERSONA.errors">
                  <ion-label *ngIf="f._MONTO_OTRA_PERSONA.errors.required" color="danger">requerido</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-header color="crecosa">
                <ion-card-subtitle>¿Tiene algún ingreso por alquiler de casa o terrenos?</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <ion-list>
                  <ion-radio-group (ionChange)="changeIngresoPorTerreno($event)" formControlName="_ALQUILER_TERENO">
                    <ion-row>
                      <ion-col>
                        <ion-item lines="none">
                          <ion-icon name="checkmark-outline" item-start></ion-icon>
                          <ion-label>Si</ion-label>
                          <ion-radio value="Sí"></ion-radio>
                        </ion-item>
                      </ion-col>
                      <ion-col>
                        <ion-item lines="none">
                          <ion-icon name="close-outline" item-start></ion-icon>
                          <ion-label>No</ion-label>
                          <ion-radio value="No"></ion-radio>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                  </ion-radio-group>
                  <ion-item lines="none" *ngIf="submitted && f._ALQUILER_TERENO.errors">
                    <ion-label *ngIf="f._ALQUILER_TERENO.errors.required" color="danger">requerido</ion-label>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>

            <ion-card *ngIf="this.tieneAlquileres">
              <ion-card-header color="crecosa">
                <ion-card-subtitle>¿Cuál es el monto de ingreso por alquiler de casa o terrenos?</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <br>
                <ion-input formControlName="_MONTO_ALQUILER_TERENO" class="inputText" clearInput="" autocapitalize=""
                  type="number">
                  <button disabled type="button" item-end class="btn_eye_icon">
                    <ion-note class="note" slot="end">Córdoba</ion-note>
                  </button>
                </ion-input>
                <ion-item lines="none" *ngIf="submitted && f._MONTO_ALQUILER_TERENO.errors">
                  <ion-label *ngIf="f._MONTO_ALQUILER_TERENO.errors.required" color="danger">requerido</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-header color="crecosa">
                <ion-card-subtitle>¿Cuánto gasta a la semana en comida o alimentación?</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <br>
                <ion-input formControlName="_GASTO_SEMANA_COMIDA" class="inputText" clearInput="" autocapitalize=""
                  type="number">
                  <button disabled type="button" item-end class="btn_eye_icon">
                    <ion-note class="note" slot="end">Córdoba</ion-note>
                  </button>
                </ion-input>
                <ion-item lines="none" *ngIf="submitted && f._GASTO_SEMANA_COMIDA.errors">
                  <ion-label *ngIf="f._GASTO_SEMANA_COMIDA.errors.required" color="danger">requerido</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-header color="crecosa">
                <ion-card-subtitle>¿Cuánto paga Mensualmente en Educación?</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <br>
                <ion-input formControlName="_GASTO_MENSUAL_EDUCACION" class="inputText" clearInput="" autocapitalize=""
                  type="number">
                  <button disabled type="button" item-end class="btn_eye_icon">
                    <ion-note class="note" slot="end">Córdoba</ion-note>
                  </button>
                </ion-input>
                <ion-item lines="none" *ngIf="submitted && f._GASTO_MENSUAL_EDUCACION.errors">
                  <ion-label *ngIf="f._GASTO_MENSUAL_EDUCACION.errors.required" color="danger">requerido</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-header color="crecosa">
                <ion-card-subtitle>¿Cuánto compra de ropa o zapatos en el trimestre?</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <br>
                <ion-input formControlName="_GASTO_ROPA_ZAPATO" class="inputText" clearInput="" autocapitalize=""
                  type="number">
                  <button disabled type="button" item-end class="btn_eye_icon">
                    <ion-note class="note" slot="end">Córdoba</ion-note>
                  </button>
                </ion-input>
                <ion-item lines="none" *ngIf="submitted && f._GASTO_ROPA_ZAPATO.errors">
                  <ion-label *ngIf="f._GASTO_ROPA_ZAPATO.errors.required" color="danger">requerido</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-header color="crecosa">
                <ion-card-subtitle>Cuánto gasta mensualmente en Medicamentos o Salud</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <br>
                <ion-input formControlName="_GASTO_SALUD_MENSUAL" class="inputText" clearInput="" autocapitalize=""
                  type="number">
                  <button disabled type="button" item-end class="btn_eye_icon">
                    <ion-note class="note" slot="end">Córdoba</ion-note>
                  </button>
                </ion-input>
                <ion-item lines="none" *ngIf="submitted && f._GASTO_SALUD_MENSUAL.errors">
                  <ion-label *ngIf="f._GASTO_SALUD_MENSUAL.errors.required" color="danger">requerido</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
            <ion-card *ngIf="this.alquilerMostrar">
              <ion-card-header color="crecosa">
                <ion-card-subtitle>¿Cuánto paga en concepto de alquiler?</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <br>
                <ion-input formControlName="_CONCEPTO_ALQUILER" class="inputText" clearInput="" autocapitalize=""
                  type="number">
                  <button disabled type="button" item-end class="btn_eye_icon">
                    <ion-note class="note" slot="end">Córdoba</ion-note>
                  </button>
                </ion-input>
                <ion-item lines="none" *ngIf="submitted && f._CONCEPTO_ALQUILER.errors">
                  <ion-label *ngIf="f._CONCEPTO_ALQUILER.errors.required" color="danger">requerido</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
            <ion-card *ngIf="this.mantenimientoCasaMostrar">
              <ion-card-header color="crecosa">
                <ion-card-subtitle>¿Cuál es monto promedio de mantenimiento de la casa?</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <br>
                <ion-input formControlName="_PROMEDIO_MANTENIMIENTO_CASA" class="inputText" clearInput=""
                  autocapitalize="" type="number">
                  <button disabled type="button" item-end class="btn_eye_icon">
                    <ion-note class="note" slot="end">Córdoba</ion-note>
                  </button>
                </ion-input>
                <ion-item lines="none" *ngIf="submitted && f._PROMEDIO_MANTENIMIENTO_CASA.errors">
                  <ion-label *ngIf="f._PROMEDIO_MANTENIMIENTO_CASA.errors.required" color="danger">requerido</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-header color="crecosa">
                <ion-card-subtitle>Monto total de los servicios básicos de Agua / Energía / Teléfono</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <br>
                <ion-input formControlName="_MONTO_SERVICIOS_BASICO" class="inputText" clearInput="" autocapitalize=""
                  type="number">
                  <button disabled type="button" item-end class="btn_eye_icon">
                    <ion-note class="note" slot="end">Córdoba</ion-note>
                  </button>
                </ion-input>
                <ion-item lines="none" *ngIf="submitted && f._MONTO_SERVICIOS_BASICO.errors">
                  <ion-label *ngIf="f._MONTO_SERVICIOS_BASICO.errors.required" color="danger">requerido</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-header color="crecosa">
                <ion-card-subtitle>¿Cuánto gasta mensualmente en transporte?</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <br>
                <ion-input formControlName="_GASTO_MENSUAL_TRANSPORTE" class="inputText" clearInput="" autocapitalize=""
                  type="number">
                  <button disabled type="button" item-end class="btn_eye_icon">
                    <ion-note class="note" slot="end">Córdoba</ion-note>
                  </button>
                </ion-input>
                <ion-item lines="none" *ngIf="submitted && f._GASTO_MENSUAL_TRANSPORTE.errors">
                  <ion-label *ngIf="f._GASTO_MENSUAL_TRANSPORTE.errors.required" color="danger">requerido</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-header color="crecosa">
                <ion-card-subtitle>Si tiene empleada doméstica en casa, ¿cuánto es el salario de ella?
                </ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <br>
                <ion-input formControlName="_EMPLEADA_SALARIO" class="inputText" clearInput="" autocapitalize=""
                  type="number">
                  <button disabled type="button" item-end class="btn_eye_icon">
                    <ion-note class="note" slot="end">Córdoba</ion-note>
                  </button>
                </ion-input>
                <ion-item lines="none" *ngIf="submitted && f._EMPLEADA_SALARIO.errors">
                  <ion-label *ngIf="f._EMPLEADA_SALARIO.errors.required" color="danger">requerido</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-header color="crecosa">
                <ion-card-subtitle>Si brinda ayuda a familiares, cuanto es el monto mensual
                </ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <br>
                <ion-input formControlName="_BRINDA_AYUDA_A_FAMILIARES" class="inputText" clearInput=""
                  autocapitalize="" type="number">
                  <button disabled type="button" item-end class="btn_eye_icon">
                    <ion-note class="note" slot="end">Córdoba</ion-note>
                  </button>
                </ion-input>
                <ion-item lines="none" *ngIf="submitted && f._BRINDA_AYUDA_A_FAMILIARES.errors">
                  <ion-label *ngIf="f._BRINDA_AYUDA_A_FAMILIARES.errors.required" color="danger">requerido</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-header color="crecosa">
                <ion-card-subtitle>¿Usted cuenta con tarjeta de crédito?</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <ion-radio-group (ionChange)="changeTarjetaCredito($event)" formControlName="_TARJETA_CREDITA">
                  <ion-row>
                    <ion-col>
                      <ion-item lines="none">
                        <ion-icon name="checkmark-outline" item-start></ion-icon>
                        <ion-label>Si</ion-label>
                        <ion-radio value="Sí"></ion-radio>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item lines="none">
                        <ion-icon name="close-outline" item-start></ion-icon>
                        <ion-label>No</ion-label>
                        <ion-radio value="No"></ion-radio>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-radio-group>
                <ion-item lines="none" *ngIf="submitted && f._TARJETA_CREDITA.errors">
                  <ion-label *ngIf="f._TARJETA_CREDITA.errors.required" color="danger">requerido</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
            <ion-card *ngIf="this.tarjetaCredito">
              <ion-card-header color="crecosa">
                <ion-card-subtitle>¿Cuál es el saldo de sus tarjetas de crédito?
                </ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <br>
                <ion-input formControlName="_SALDO_TARJETA_CREDITO" class="inputText" clearInput="" autocapitalize=""
                  type="number">
                  <button disabled type="button" item-end class="btn_eye_icon">
                    <ion-note class="note" slot="end">Córdoba</ion-note>
                  </button>
                </ion-input>
                <ion-item lines="none" *ngIf="submitted && f._SALDO_TARJETA_CREDITO.errors">
                  <ion-label *ngIf="f._SALDO_TARJETA_CREDITO.errors.required" color="danger">requerido</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
            <ion-card *ngIf="this.tarjetaCredito">
              <ion-card-header color="crecosa">
                <ion-card-subtitle>¿Cuánto es el pago mínimo de sus tarjetas de crédito?
                </ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <br>
                <ion-input formControlName="_PAGO_MINIMO_TARJETA" class="inputText" clearInput="" autocapitalize=""
                  type="number">
                  <button disabled type="button" item-end class="btn_eye_icon">
                    <ion-note class="note" slot="end">Córdoba</ion-note>
                  </button>
                </ion-input>
                <ion-item lines="none" *ngIf="submitted && f._PAGO_MINIMO_TARJETA.errors">
                  <ion-label *ngIf="f._PAGO_MINIMO_TARJETA.errors.required" color="danger">requerido</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-header color="crecosa">
                <ion-card-subtitle>Si tiene alguna obligación como crédito con una Casa Comercial, ¿cuánto es el total
                  de su cuota ó cuotas?
                </ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <br>
                <ion-input formControlName="_CUOTA_CASA_COMERCIAL" class="inputText" clearInput="" autocapitalize=""
                  type="number">
                  <button disabled type="button" item-end class="btn_eye_icon">
                    <ion-note class="note" slot="end">Córdoba</ion-note>
                  </button>
                </ion-input>
                <ion-item lines="none" *ngIf="submitted && f._CUOTA_CASA_COMERCIAL.errors">
                  <ion-label *ngIf="f._CUOTA_CASA_COMERCIAL.errors.required" color="danger">requerido</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-header color="crecosa">
                <ion-card-subtitle>Si tiene alguna obligación como crédito con Banco, ¿cuánto es el total de su cuota o
                  cuotas?
                </ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <br>
                <ion-input formControlName="_CUOTA_BANCO" class="inputText" clearInput="" autocapitalize=""
                  type="number">
                  <button disabled type="button" item-end class="btn_eye_icon">
                    <ion-note class="note" slot="end">Córdoba</ion-note>
                  </button>
                </ion-input>
                <ion-item lines="none" *ngIf="submitted && f._CUOTA_BANCO.errors">
                  <ion-label *ngIf="f._CUOTA_BANCO.errors.required" color="danger">requerido</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-header color="crecosa">
                <ion-card-subtitle>Otros Ingresos Mensuales en el hogar
                </ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <br>
                <ion-input formControlName="_OTROS_INGRESOS_MENSUALES" class="inputText" clearInput="" autocapitalize=""
                  type="number">
                  <button disabled type="button" item-end class="btn_eye_icon">
                    <ion-note class="note" slot="end">Córdoba</ion-note>
                  </button>
                </ion-input>
                <ion-item lines="none" *ngIf="submitted && f._OTROS_INGRESOS_MENSUALES.errors">
                  <ion-label *ngIf="f._OTROS_INGRESOS_MENSUALES.errors.required" color="danger">requerido</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-header color="crecosa">
                <ion-card-subtitle>Otros Gastos Mensuales en el hogar
                </ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <br>
                <ion-input formControlName="_OTROS_GASTOS_MENSUALES" class="inputText" clearInput="" autocapitalize=""
                  type="number">
                  <button disabled type="button" item-end class="btn_eye_icon">
                    <ion-note class="note" slot="end">Córdoba</ion-note>
                  </button>
                </ion-input>
                <ion-item lines="none" *ngIf="submitted && f._OTROS_GASTOS_MENSUALES.errors">
                  <ion-label *ngIf="f._OTROS_GASTOS_MENSUALES.errors.required" color="danger">requerido</ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-button (click)="this.presentAlertConfirm()" color="danger">
              Salir
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button type="submit" color="crecosa">
              Siguiente
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </div>
</ion-content>