
.labelBuscar {
    margin-bottom: 15px !important;
    margin-left: 10px;
    font-size: 1.2em !important;
  }

  .inputText{
    width: 100%;
    height: 45px;
    margin: 0 auto;
    border: none; 
    border:solid 1px #ccc;
    border-radius: 10px;
    font-size: 1.2em !important;
  }

.icon{
    max-width: 3vh;
    display: block;
    margin: 0 auto;
    padding: 10px;
  }


  .btn_eye_icon{
    position: absolute;
    right: 0;
    bottom: 8px;
    padding-right: 40px;
    padding-bottom: 5px;
    background: transparent;
    ion-icon{
        font-size: 22px;
        color:#757575;
    }
}