// ion-range {
//     --background-color: red;
// }

// .alert-wrapper {
//     min-width: 40px;
//  }
 
//  .alert-radio-label {
//     white-space: normal!important;
//  }

//  ion-select{
//     max-width: 70% !important;
// }

.btn-btn-guardar{
    margin-left: 10px;
}

.btnDerecho{
    position: static;
    right: 48px;
    bottom: 4px;
    background: transparent;
    ion-icon{
        font-size: 22px;
        color:#757575;
    }
}

.btnIzquierdo{
    position: static;
    right: 0;
    bottom: 4px;
    background: transparent;
    ion-icon{
        font-size: 22px;
        color:#757575;
    }
}


// #selectProduct{
//     width: 100%;
//     height: 25px;
//     margin: 0 auto;
//     border: none; 
//     border:solid 1px #ccc;
//     border-radius: 10px;
// }

// #selectAseguradoras{
//     width: 100%;
//     height: 25px;
//     margin: 0 auto;
//     border: none; 
//     border:solid 1px #ccc;
//     border-radius: 10px;
// }

// #inputPlazo{
//     width: 100%;
//     height: 25px;
//     margin: 0 auto;
//     border: none; 
//     border:solid 1px #ccc;
//     border-radius: 10px;
// }

#inputMonto{
    width: 5px;
    height: 25px;
    margin: 0 auto;
    border: none; 
    border:solid 1px #ccc;
    border-radius: 10px;
}

// .monto {
//     padding-right: 50px;
// }
// .plazo {
//     padding-right: 60px;
// }


ion-content{
    --background: #e9e9e9;
  }



  .selectFormulario{
    width: 100%;
    height: 25px;
    margin: 0 auto;
    padding: 15px;
    border: none; 
    border:solid 1px #ccc;
    border-radius: 10px;
  }


  .labelBuscar {
    margin-bottom: 15px !important;
    margin-left: 10px;
    font-size: 1.2em !important;
  }


  .inputText{
    width: 100%;
    height: 25px;
    margin: 0 auto;
    border: none; 
    border:solid 1px #ccc;
    border-radius: 10px;
    font-size: 1.2em !important;
}

.inputTextd{
    width: 50%;
    height: 25px;
    margin: 0 auto;
    border: none; 
    border:solid 1px #ccc;
    border-radius: 10px;
    font-size: 1.2em !important;
}


.icon{
    max-width: 3vh;
    display: block;
    margin: 0 auto;
    padding: 10px;
  }
  
  ion-select{
    max-width: 100% !important;
  
    // --max-height: 100% !important;	
  }

  .btn {
    margin-top: 25px;
    margin-left: 25px;
  }