<ion-header class="ion-no-border">
  <ion-toolbar color="crecosa">
    <ion-title>SAC</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col size="3" pull-md="" size-lg="1" size-md="1">
          <ion-buttons>
            <ion-back-button defaultHref="home"></ion-back-button>
          </ion-buttons>
        </ion-col>
        <ion-col size="9" size-lg="1" size-md="8">
          <ion-text color="text-header">
            <h5>Calculadora de Cuota</h5>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <form [formGroup]="myFormCalculadora" (ngSubmit)="calcularCuota()">
              <ion-list>
                <ion-item lines="none">
                  <ion-label position="stacked" class="labelBuscar">Producto:</ion-label>
                  <ion-select cancelText="Cancelar" interface="action-sheet" class="selectFormulario"
                    (ionChange)="onChange($event)" formControlName="codigo_producto" value="this.dataProducto"
                    placeholder="Seleccionar">
                    <ion-select-option *ngFor="let documento of dataProducto" [value]="documento.ID_PRODUCTO">
                      {{documento.NOMBRE_PRODUCTO}}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <br>
                <ion-item lines="none">
                  <ion-label class="monto">Monto:</ion-label>
                  <ion-input id="inputMonto" (ionBlur)="ionBlur($event)" formControlName="monto"
                    [min]="this.montoMinimo" [max]="this.montoMaximo" [value]="this.montoInicio"
                    (ionChange)="ionChange1($event)" type="number">
                  </ion-input>
                  <ion-button color="crecosa" class="btnIzquierdo"
                    [disabled]="this.montoInicio <= this.montoMinimo || this.montoInicio === 0" (click)="restar()">
                    <ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
                  </ion-button>
                  <ion-button color="crecosa" class="btnDerecho"
                    [disabled]="this.montoInicio >= this.montoMaximo || this.montoInicio === 0" (click)="aumentar()">
                    <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
                  </ion-button>
                </ion-item>
                <ion-item lines="none">
                  <ion-range disabled pin dual-knobs color="secondary" [min]="this.montoMinimo" [max]="this.montoMaximo"
                    [value]="this.montoActual" color="secondary">
                    <ion-label slot="start">{{this.montoMinimo}}</ion-label>
                    <ion-label slot="end">{{this.montoMaximo}}</ion-label>
                  </ion-range>
                </ion-item>
                <ion-item lines="none">
                  <ion-label class="labelBuscar" position="stacked">Plazo (en meses):</ion-label>
                  <ion-input class="inputText" (ionBlur)="ionBlur1($event)" [max]="this.plazoMaximo"
                    [value]="this.plazoMinimo" formControlName="plazo" type="number">
                    <ion-icon class="icon" slot="icon-only" name="hourglass-outline" item-start></ion-icon>
                  </ion-input>
                </ion-item>
                <ion-item lines="none">
                  <ion-label position="stacked" class="labelBuscar">Seguro:</ion-label>
                  <ion-select class="selectFormulario" cancelText="Cancelar" okText="Seleccionar"
                    formControlName="codigo_aseguradora" value="this.dataAseguradora" placeholder="Seleccionar">
                    <ion-select-option *ngFor="let aseguradora of dataAseguradora" [value]="aseguradora.ID_ASEGURADORA">
                      {{aseguradora.DESC_ASEGURADORA}}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>
              <ion-button color="crecosa" class="btn" type="submit" shape="round"
                [disabled]="!myFormCalculadora.valid">Calcular
              </ion-button>
            </form>
            <ion-card *ngIf="this.montoCuota!=0">
              <ion-card-header>
                <ion-card-title>Producto: {{this.nombreProducto}}</ion-card-title>
                <ion-card-title>Monto Solicitado: {{this.monto | number: '1.1-2'}}</ion-card-title>
                <ion-card-title>Plazo Solicitado: {{this.plazo}} meses</ion-card-title>
                <ion-card-title>Total Cuota: {{this.montoCuota | number: '1.1-2'}}</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>