#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  transform: translateY(-20%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


.mainSlide, .mainSlide ion-slide {
  width: 100%;
  height: 90%;
}

.ion-card-content {
  background-size: cover;
  background-color: #6DB3F2;
}


ion-content{
  --background: #e9e9e9;
}


