<ion-header class="ion-no-border">
  <ion-toolbar color="crecosa">
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Salir</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-text color="text-header">
            <h1>Inicio</h1>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" size-xl="2" size-md="4">
          <ion-card>
            <ion-card-header (click)="this.newSolicitud()">
              <ion-img src="./assets/img/agregar-archivo.svg"></ion-img>
            </ion-card-header>
            <ion-card-content>
              <ion-text>
                <h2>Nueva Solicitud</h2>
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6" size-xl="2" size-md="4">
          <ion-card>
            <ion-card-header>
              <ion-img src="./assets/img/buscar.svg"></ion-img>
            </ion-card-header>
            <ion-card-content>
              <ion-text>
                <h2>Solicitud Existente</h2>
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6" size-xl="2" size-md="4" pull="-3" pull-md="0">
          <ion-card>
            <ion-card-header (click)="this.calculadora()">
              <ion-img src="./assets/img/calculadora.svg"></ion-img>
            </ion-card-header>
            <ion-card-content>
              <ion-text>
                <h2>Calculadora</h2>
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>