<ion-header class="ion-no-border">
  <ion-toolbar color="crecosa">
    <ion-title>SAC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col size="3" pull-md="" size-lg="1" size-md="1">
          <ion-buttons>
            <ion-back-button defaultHref="home/persona-natural"></ion-back-button>
          </ion-buttons>
        </ion-col>
        <ion-col size="9" size-lg="1" size-md="8">
          <ion-text color="text-header">
            <h5>Datos Generales</h5>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <form [formGroup]="formDocumentoResidente" (ngSubmit)="registrarPreCliente()">
              <ion-list>
                <ion-item lines="none">
                  <ion-label class="labelBuscar" position="stacked">Cedula de Residencia:</ion-label>
                  <ion-input id="buscadorCedula" (ionInput)="cedulaCliente($event)" clearInput="" autocapitalize=""
                    maxlength="16" formControlName="_IDENTIDAD">
                    <ion-icon class="icon" slot="icon-only" name="person"></ion-icon>
                  </ion-input>
                </ion-item>
                <div *ngIf="_IDENTIDAD.errors?.pattern">
                  <ion-item lines="none">
                    <ion-label color="danger">No coincide el formato</ion-label>
                  </ion-item>
                </div>
                <ion-item lines="none" *ngIf="submitted && f._IDENTIDAD.errors">
                  <ion-label *ngIf="f._IDENTIDAD.errors.required" color="danger">requerido</ion-label>
                </ion-item>
                <br>
                <ion-item lines="none">
                  <ion-label>Fecha de nacimiento:</ion-label>
                  <ion-datetime cancelText="Cancelar" doneText="Seleccionar" displayFormat="DD MM YYYY"
                    formControlName="_FECHA_NACIMIENTO" placeholder="Seleccione una fecha">
                  </ion-datetime>
                </ion-item>
                <ion-item lines="none" *ngIf="submitted && f._FECHA_NACIMIENTO.errors">
                  <ion-label *ngIf="f._FECHA_NACIMIENTO.errors.required" color="danger">requerido</ion-label>
                </ion-item>
                <ion-item lines="none">
                  <ion-label class="labelBuscar" position="stacked">Primer Nombre:</ion-label>
                  <ion-input formControlName="_PRIMER_NOMBRE" class="inputText" clearInput="" autocapitalize=""
                    type="text">
                    <ion-icon class="icon" slot="icon-only" name="person" item-start></ion-icon>
                  </ion-input>
                </ion-item>
                <ion-item lines="none" *ngIf="submitted && f._PRIMER_NOMBRE.errors">
                  <ion-label *ngIf="f._PRIMER_NOMBRE.errors.required" color="danger">requerido</ion-label>
                </ion-item>
                <ion-item lines="none">
                  <ion-label class="labelBuscar" position="stacked">Segundo Nombre:</ion-label>
                  <ion-input formControlName="_SEGUNDO_NOMBRE" class="inputText" clearInput="" autocapitalize=""
                    type="text">
                    <ion-icon class="icon" slot="icon-only" name="person" item-start></ion-icon>
                  </ion-input>
                </ion-item>
                <ion-item lines="none">
                  <ion-label class="labelBuscar" position="stacked">Primer Apellido:</ion-label>
                  <ion-input formControlName="_PRIMER_APELLIDO" class="inputText" clearInput="" autocapitalize=""
                    type="text">
                    <ion-icon class="icon" slot="icon-only" name="person" item-start></ion-icon>
                  </ion-input>
                </ion-item>
                <ion-item lines="none" *ngIf="submitted && f._PRIMER_APELLIDO.errors">
                  <ion-label *ngIf="f._PRIMER_APELLIDO.errors.required" color="danger">requerido</ion-label>
                </ion-item>
                <ion-item lines="none">
                  <ion-label class="labelBuscar" position="stacked">Segundo Apellido:</ion-label>
                  <ion-input formControlName="_SEGUNDO_APELLIDO" class="inputText" clearInput="" autocapitalize=""
                    type="text">
                    <ion-icon class="icon" slot="icon-only" name="person" item-start></ion-icon>
                  </ion-input>
                </ion-item>
                <ion-list>
                  <ion-list-header>
                    <ion-label>
                      Genero:
                    </ion-label>
                  </ion-list-header>
                  <ion-radio-group formControlName="_GENERO">
                    <ion-row>
                      <ion-col>
                        <ion-item lines="none">
                          <ion-icon name="woman" item-start></ion-icon>
                          <ion-label>Mujer</ion-label>
                          <ion-radio [disabled]="this.activo" value="F"></ion-radio>
                        </ion-item>
                      </ion-col>
                      <ion-col>
                        <ion-item lines="none">
                          <ion-icon name="man" item-start></ion-icon>
                          <ion-label>Hombre</ion-label>
                          <ion-radio [disabled]="this.activo" value="M"></ion-radio>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                  </ion-radio-group>
                  <ion-item lines="none" *ngIf="submitted && f._GENERO.errors">
                    <ion-label *ngIf="f._GENERO.errors.required" color="danger">requerido</ion-label>
                  </ion-item>
                </ion-list>
                <ion-item lines="none">
                  <ion-label class="labelBuscar" position="stacked">Celular:
                  </ion-label>
                  <ion-input maxlength="9" [brmasker]="{mask:'0000-0000', len:9, userCaracters: false}"
                    formControlName="_MOVIL" class="inputCelular" type="tel">
                    <ion-icon class="icon" slot="icon-only" name="phone-portrait-outline" item-start>
                    </ion-icon>
                  </ion-input>
                  <ion-item lines="none" *ngIf="submitted && f._MOVIL.errors">
                    <ion-label color="danger">requerido</ion-label>
                  </ion-item>
                </ion-item>
                <ion-item lines="none">
                  <ion-label class="labelBuscar" position="stacked">Teléfono:
                  </ion-label>
                  <ion-input maxlength="9" [brmasker]="{mask:'0000-0000', len:9, userCaracters: false}"
                    formControlName="_TELEFONO" class="inputCelular" type="tel">
                    <ion-icon class="icon" slot="icon-only" name="phone-portrait-outline" item-start>
                    </ion-icon>
                  </ion-input>
                  <ion-item lines="none" *ngIf="submitted && f._TELEFONO.errors">
                    <ion-label color="danger">requerido</ion-label>
                  </ion-item>
                </ion-item>
                <ion-button class="btn" color="crecosa" type="submit">Siguiente
                </ion-button>
              </ion-list>
            </form>
          </ion-card>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>
</ion-content>