ion-range {
    --background-color: red;
  }
  
  .alert-wrapper {
    min-width: 40px;
  }
  
  .alert-radio-label {
    white-space: normal!important;
  }
  
  ion-select{
    max-width: 70% !important;
  }
  
  .btn-btn-guardar{
    margin-left: 10px;
  }
  
  .btnDerecho{
    position: static;
    right: 48px;
    bottom: 4px;
    background: transparent;
    ion-icon{
        font-size: 22px;
        color:#757575;
    }
  }
  
  .btnIzquierdo{
    position: static;
    right: 0;
    bottom: 4px;
    background: transparent;
    ion-icon{
        font-size: 22px;
        color:#757575;
    }
  }
  
  .list{
  padding: 10px;
  }
  
  #selectProduct{
    width: 100%;
    height: 25px;
    margin: 0 auto;
    border: none; 
    border:solid 1px #ccc;
    border-radius: 10px;
  }
  
  #selectAseguradoras{
    width: 100%;
    height: 25px;
    margin: 0 auto;
    border: none; 
    border:solid 1px #ccc;
    border-radius: 10px;
  }
  
  #inputPlazo{
    width: 100%;
    height: 25px;
    margin: 0 auto;
    border: none; 
    border:solid 1px #ccc;
    border-radius: 10px;
  }
  
  #inputDispuestoApagar{
    width: 100%;
    height: 25px;
    margin: 0 auto;
    border: none; 
    border:solid 1px #ccc;
    border-radius: 10px;
  }
  
  #inputMonto{
    width: 5px;
    height: 25px;
    margin: 0 auto;
    border: none; 
    border:solid 1px #ccc;
    border-radius: 10px;
  }
  
  .inputText{
    width: 100%;
    height: 45px;
    margin: 0 auto;
    border: none; 
    border:solid 1px #ccc;
    border-radius: 10px;
    font-size: 1.2em !important;
  }
  .inputTextArea{
  width: 100%;
  height: 95px;
  border: none; 
  margin: 0 auto;
  padding: 13px;
  border:solid 1px #ccc;
  border-radius: 10px;
  font-size: 1.2em !important;
  }
  
  
  
  .telefonoItem{
  padding: 10px;
  }
  
  .list{
  padding: 10px;
  }
  
  #selectClass{
  width: 100%;
  height: 25px;
  margin: 0 auto;
  padding: 15px;
  border: none; 
  border:solid 1px #ccc;
  border-radius: 10px;
  }
  
  
  .labelBuscar {
    margin-bottom: 15px !important;
    margin-left: 10px;
    font-size: 1.2em !important;
  }
  .labelEncabezado {
    margin: auto;
  }
  
  .icon{
    max-width: 3vh;
    display: block;
    margin: 0 auto;
    padding: 10px;
  }
  
  ion-select{
    max-width: 100% !important;
  
    // --max-height: 100% !important;	
  }
  
  ion-alert {
    --width: 10px;
  }
  
  ion-select::part(placeholder) {
    color: black;
    opacity: 1;
  }
  
  .selectFormulario{
    width: 100%;
    height: 25px;
    margin: 0 auto;
    padding: 15px;
    border: none; 
    border:solid 1px #ccc;
    border-radius: 10px;
  }
  
  .list{
    padding: 10px;
  }
  
  .btnDerecho{
    position: static;
    right: 48px;
    bottom: 4px;
    background: transparent;
    ion-icon{
        font-size: 22px;
        color:#757575;
    }
  }
  
  .btnIzquierdo{
    position: static;
    right: 0;
    bottom: 4px;
    background: transparent;
    ion-icon{
        font-size: 22px;
        color:#757575;
    }
  }
  
  .inputCelular{
  width: 100%;
  height: 25px;
  margin: 0 auto;
  border: none; 
  border:solid 1px #ccc;
  border-radius: 10px;
  }
  
  ion-item-divider {
  --color: blue;
  }
  
  .btn {
  margin-top: 25px;
  margin-left: 25px;
  }
  
  ion-content{
  --background: #e9e9e9;
  }
  

  ion-card {

// --background: green;
  }



  #container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 5%;
    transform: translateY(-5%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }


 