<ion-header class="ion-no-border">
  <ion-toolbar color="crecosa">
    <ion-title>SAC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col size="3" pull-md="" size-lg="1" size-md="1">
        
        </ion-col>
        <ion-col size="9" size-lg="1" size-md="8">
          <ion-text color="text-header">
            <h5>Información del Negocio</h5>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
    <form [formGroup]="formInformacionNegocio" (ngSubmit)="guardarInformacionNegocio()">
      <ion-card>
        <ion-card-header color="crecosa">
          <ion-card-subtitle>¿Cúanto tiempo tiene de exister el negocio?</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <br>
          <ion-input formControlName="_TIEMPO_EXISTENCIA" class="inputText" clearInput="" autocapitalize=""
            type="number"></ion-input>
          <ion-item lines="none" *ngIf="submitted && f._TIEMPO_EXISTENCIA.errors">
            <ion-label *ngIf="f._TIEMPO_EXISTENCIA.errors.required" color="danger">requerido</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header color="crecosa">
          <ion-card-subtitle>¿Como empezó el negocio?</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <br>
          <ion-textarea formControlName="_COMO_EMPEZO_NEGOCIO" class="inputTextArea">
          </ion-textarea>
          <ion-item lines="none" *ngIf="submitted && f._COMO_EMPEZO_NEGOCIO.errors">
            <ion-label *ngIf="f._COMO_EMPEZO_NEGOCIO.errors.required" color="danger">requerido</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header color="crecosa">
          <ion-card-subtitle>¿El local del Negocio es alquilado?</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-radio-group (ionChange)="changeTiempo($event)" formControlName="_LOCAL_PROPIO">
              <ion-row>
                <ion-col>
                  <ion-item lines="none">
                    <ion-icon name="checkmark-outline" item-start></ion-icon>
                    <ion-label>Si</ion-label>
                    <ion-radio value="Sí"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item lines="none">
                    <ion-icon name="close-outline" item-start></ion-icon>
                    <ion-label>No</ion-label>
                    <ion-radio value="No"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-radio-group>
            <!-- <ion-item lines="none" *ngIf="submitted && f._GENERO.errors">
          <ion-label *ngIf="f._GENERO.errors.required" color="danger">requerido</ion-label>
        </ion-item> -->
          </ion-list>
          <ion-item lines="none" *ngIf="submitted && f._LOCAL_PROPIO.errors">
            <ion-label *ngIf="f._LOCAL_PROPIO.errors.required" color="danger">requerido</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="this.negocioPropio">
        <ion-card-header color="crecosa">
          <ion-card-subtitle>¿Tiempo de permanencia del negocio en el local?</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <br>
          <ion-input formControlName="_TIEMPO_PERMANENCIA_ALQUILER" class="inputText" clearInput="" autocapitalize=""
            type="number">

          </ion-input>
          <ion-item lines="none" *ngIf="submitted && f._TIEMPO_PERMANENCIA_ALQUILER.errors">
            <ion-label *ngIf="f._TIEMPO_PERMANENCIA_ALQUILER.errors.required" color="danger">requerido</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header color="crecosa">
          <ion-card-subtitle>¿Cuántos años tiene de experiencia al frente del negocio?</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <br>
          <ion-input formControlName="_ANOS_EXPERIENCIA" class="inputText" clearInput="" autocapitalize=""
            type="number">

          </ion-input>
          <ion-item lines="none" *ngIf="submitted && f._ANOS_EXPERIENCIA.errors">
            <ion-label *ngIf="f._ANOS_EXPERIENCIA.errors.required" color="danger">requerido</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header color="crecosa">
          <ion-card-subtitle>¿Cuántos empleados laboran en el negocio?</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <br>
          <ion-input formControlName="_CANTIDAD_EMPLEADO" class="inputText" clearInput="" autocapitalize=""
            type="number">

          </ion-input>
          <ion-item lines="none" *ngIf="submitted && f._CANTIDAD_EMPLEADO.errors">
            <ion-label *ngIf="f._CANTIDAD_EMPLEADO.errors.required" color="danger">requerido</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header color="crecosa">
          <ion-card-subtitle>¿Cantidad de Negocios que compiten por el mismo mercado?</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <br>
          <ion-input formControlName="_CANTIDAD_NEGOCIO_MERCADO" class="inputText" clearInput="" autocapitalize=""
            type="number">

          </ion-input>
          <ion-item lines="none" *ngIf="submitted && f._CANTIDAD_NEGOCIO_MERCADO.errors">
            <ion-label *ngIf="f._CANTIDAD_NEGOCIO_MERCADO.errors.required" color="danger">requerido</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header color="crecosa">
          <ion-card-subtitle>¿Tiene capacidad de expandir o crecer el local?</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-radio-group formControlName="_CAPACIDAD_EXTENDER">
              <ion-row>
                <ion-col>
                  <ion-item lines="none">
                    <ion-icon name="checkmark-outline" item-start></ion-icon>
                    <ion-label>Si</ion-label>
                    <ion-radio value="Sí"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item lines="none">
                    <ion-icon name="close-outline" item-start></ion-icon>
                    <ion-label>No</ion-label>
                    <ion-radio value="No"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-radio-group>
            <ion-item lines="none" *ngIf="submitted && f._CAPACIDAD_EXTENDER.errors">
              <ion-label *ngIf="f._CAPACIDAD_EXTENDER.errors.required" color="danger">requerido</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>


      <ion-card>
        <ion-card-header color="crecosa">
          <ion-card-subtitle>¿Tiene Matricula y permiso de Operación?</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-radio-group formControlName="_MATRICULA_PERMISO">
              <ion-row>
                <ion-col>
                  <ion-item lines="none">
                    <ion-icon name="checkmark-outline" item-start></ion-icon>
                    <ion-label>Si</ion-label>
                    <ion-radio value="Sí"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item lines="none">
                    <ion-icon name="close-outline" item-start></ion-icon>
                    <ion-label>No</ion-label>
                    <ion-radio value="No"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-radio-group>
            <ion-item lines="none" *ngIf="submitted && f._MATRICULA_PERMISO.errors">
              <ion-label *ngIf="f._MATRICULA_PERMISO.errors.required" color="danger">requerido</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header color="crecosa">
          <ion-card-subtitle>¿Cuales son las entidades a las que paga impuesto?</ion-card-subtitle>
        </ion-card-header>
        <br>
        <ion-card-content>
          <ion-select formControlName="_LISTAR_ENTIDADES_IMPUESTO" class="selectFormulario" multiple="true"
            cancelText="cancelar" okText="seleccionar">
            <ion-select-option *ngFor="let item of this.datosEntidadImpuesto" [value]="item.ID_CATALOGO">
              {{item.DESCRIPCION_CATALOGO}}
            </ion-select-option>
          </ion-select>
        </ion-card-content>
        <ion-item lines="none" *ngIf="submitted && f._LISTAR_ENTIDADES_IMPUESTO.errors">
          <ion-label *ngIf="f._LISTAR_ENTIDADES_IMPUESTO.errors.required" color="danger">requerido</ion-label>
        </ion-item>
      </ion-card>


      <ion-card>
        <ion-card-header color="crecosa">
          <ion-card-subtitle>¿Tiene obligaciones con otra entidad crediticia directa o indirecta?</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-radio-group formControlName="_OBLIGACIONES_ENTIDAD">
              <ion-row>
                <ion-col>
                  <ion-item lines="none">
                    <ion-icon name="checkmark-outline" item-start></ion-icon>
                    <ion-label>Si</ion-label>
                    <ion-radio value="Sí"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item lines="none">
                    <ion-icon name="close-outline" item-start></ion-icon>
                    <ion-label>No</ion-label>
                    <ion-radio value="No"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-radio-group>
            <ion-item lines="none" *ngIf="submitted && f._OBLIGACIONES_ENTIDAD.errors">
              <ion-label *ngIf="f._OBLIGACIONES_ENTIDAD.errors.required" color="danger">requerido</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-button (click)="presentAlertConfirm()" class="btn" color="danger">Salir</ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button color="crecosa" class="btn" type="submit"> Siguiente</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>