<ion-header class="ion-no-border">
  <ion-toolbar color="crecosa">
    <ion-title>SAC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col size="3" size-md="5"></ion-col>
        <ion-col size="6" size-md="3">
          <ion-text color="text-header">
            <h5>Datos de la Solicitud</h5>
          </ion-text>
        </ion-col>
        <ion-col size="3" size-md="4"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <form [formGroup]="formSolicitud" (ngSubmit)="guardarSolicitud()">
              <ion-list>
                <ion-item lines="none">
                  <ion-label position="stacked" class="labelBuscar">Destino Crédito:</ion-label>
                  <ion-select class="selectFormulario" formControlName="_ID_DESTINO_CREDITO" placeholder="Seleccionar"
                    cancelText="Cancelar" interface="action-sheet">
                    <ion-select-option *ngFor="let item of this.dataDestinoCredito" [value]="item.ID_DESTINO_CREDITO">
                      {{item.DESCRIPCION_DESTINO_CREDITO}}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item lines="none" *ngIf="submitted && f._ID_DESTINO_CREDITO.errors">
                  <ion-label *ngIf="f._ID_DESTINO_CREDITO.errors.required" color="danger">requerido</ion-label>
                </ion-item>
              
                <ion-item lines="none">
                  <ion-label position="stacked" class="labelBuscar">Producto:</ion-label>
                  <ion-select cancelText="Cancelar" formControlName="_ID_PRODUCTO" class="selectFormulario"
                    placeholder="Seleccionar" interface="action-sheet">
                    <ion-select-option *ngFor="let item of this.dataProducto" [value]="item.ID_PRODUCTO">
                      {{item.NOMBRE_PRODUCTO}}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item lines="none" *ngIf="submitted && f._ID_PRODUCTO.errors">
                  <ion-label *ngIf="f._ID_PRODUCTO.errors.required" color="danger">requerido</ion-label>
                </ion-item>
              
                <ion-item lines="none">
                  <ion-label position="stacked" class="labelBuscar">Frecuencia:</ion-label>
                  <ion-select cancelText="Cancelar" formControlName="_ID_FRECUENCIA" class="selectFormulario"
                    placeholder="Seleccionar" interface="action-sheet">
                    <ion-select-option *ngFor="let item of this.dataFrecuencia" [value]="item.ID_FRECUENCIA">
                      {{item.DESCRIPCION_FRECUENCIA}}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item lines="none" *ngIf="submitted && f._ID_FRECUENCIA.errors">
                  <ion-label *ngIf="f._ID_FRECUENCIA.errors.required" color="danger">requerido</ion-label>
                </ion-item>
                <ion-item lines="none">
                  <ion-label class="labelBuscar" position="stacked">
                    Monto:
                  </ion-label>
                  <ion-input formControlName="_MONTO" class="inputText" type="number">
                    <ion-icon class="icon" slot="icon-only" name="cash" item-start></ion-icon>
                  </ion-input>
                  <button disabled type="button" item-end class="btn_eye_icon">
                    <ion-note class="note" slot="end">Dolar</ion-note>
                  </button>
                  <ion-item lines="none" *ngIf="submitted && f._MONTO.errors">
                    <ion-label *ngIf="f._MONTO.errors.required" color="danger">requerido</ion-label>
                  </ion-item>
                </ion-item>
                <ion-item lines="none">
                  <ion-label class="labelBuscar" position="stacked">
                    Plazo (en meses):
                  </ion-label>
                  <ion-input formControlName="_PLAZO" class="inputText" type="number">
                    <ion-icon class="icon" slot="icon-only" name="time" item-start></ion-icon>
                  </ion-input>
                  <ion-item lines="none" *ngIf="submitted && f._PLAZO.errors">
                    <ion-label *ngIf="f._PLAZO.errors.required" color="danger">requerido</ion-label>
                  </ion-item>
                </ion-item>
                <div *ngIf="inputPlazo.errors?.pattern">
                  <ion-item lines="none">
                    <ion-label color="danger">No es valido el valor</ion-label>
                  </ion-item>
                </div>
                <ion-item lines="none">
                  <ion-label class="labelBuscar" position="stacked">
                    Monto dispuesto a pagar:
                  </ion-label>
                  <ion-input formControlName="_MONTO_PAGAR" class="inputText" type="number">
                    <ion-icon class="icon" slot="icon-only" name="cash" item-start></ion-icon>
                  </ion-input>
                  <button disabled type="button" item-end class="btn_eye_icon">
                    <ion-note class="note" slot="end">Cordoba</ion-note>
                  </button>
                  <ion-item lines="none" *ngIf="submitted && f._MONTO_PAGAR.errors">
                    <ion-label *ngIf="f._MONTO_PAGAR.errors.required" color="danger">requerido</ion-label>
                  </ion-item>
                </ion-item>
                <br>
                <ion-item>
                  <ion-label class="ion-text-wrap">
                    El cliente autoriza que su comportamiento e historial crediticio pueda ser
                    investigado en la Central de Riesgo
                  </ion-label>
                  <ion-checkbox (ionChange)="ionChange($event)" formControlName="_AUTORIZA_CONSULTA" color="crecosa"
                    slot="start">
                  </ion-checkbox>
                </ion-item>
                <ion-button color="crecosa" class="btn" type="submit">{{this.textBtn}}</ion-button>
              </ion-list>
            </form>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>