<ion-header class="ion-no-border">
  <ion-toolbar color="crecosa">
    <ion-title>SAC</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div *ngIf="this.dataClienteAnalisis">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Nombre: {{this.dataClienteAnalisis.nombre_persona}}</ion-card-subtitle>
        <ion-card-title>Estado de la consulta: {{this.dataClienteAnalisis.estado_de_solicitud}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button (click)="this.actividades()" color="crecosa" type="submit"
          *ngIf="this.dataClienteAnalisis.estado_de_solicitud != 'Rechazada' ">Siguiente</ion-button>
        <ion-button (click)="this.home()" color="crecosa" type="submit"
          *ngIf="this.dataClienteAnalisis.estado_de_solicitud === 'Rechazada' ">Terminar</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Skeleton screen -->
  <div *ngIf="!this.dataClienteAnalisis">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </ion-card-subtitle>
        <ion-card-title>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>