<ion-header class="ion-no-border">
  <ion-toolbar color="crecosa">
    <ion-title>SAC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col size="3" size-md="5"></ion-col>
        <ion-col size="6" size-md="3">
          <ion-text color="text-header">
            <h5>Información General</h5>
          </ion-text>
        </ion-col>
        <ion-col size="3" size-md="4"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <form [formGroup]="formPersonaJuridica" (ngSubmit)="guardarPersonaJuridica()">
            <ion-card>
              <ion-list>
                <ion-item lines="none">
                  <ion-label class="labelBuscar" position="stacked">Número de Registro: </ion-label>
                  <ion-input formControlName="_NUMERO_REGISTRO" class="inputText" clearInput="" autocapitalize=""
                    type="text">
                    <ion-icon class="icon" slot="icon-only" name="person" item-start></ion-icon>
                  </ion-input>
                </ion-item>
                <ion-item lines="none" *ngIf="submitted && f._NUMERO_REGISTRO.errors">
                  <ion-label *ngIf="f._NUMERO_REGISTRO.errors.required" color="danger">requerido</ion-label>
                </ion-item>
                <br>
                <ion-item lines="none">
                  <ion-label position="stacked" class="labelBuscar">País de constitución:</ion-label>
                  <ion-select formControlName="_PAIS_CONSTITUCION" interface="action-sheet" class="selectFormulario"
                    placeholder="Seleccionar">
                    <ion-select-option *ngFor="let item of this.dataPaises" [value]="item.ID_LUGAR">
                      {{item.NOMBRE_LUGAR}}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item lines="none" *ngIf="submitted && f._PAIS_CONSTITUCION.errors">
                  <ion-label *ngIf="f._PAIS_CONSTITUCION.errors.required" color="danger">requerido</ion-label>
                </ion-item>
                <br>
                <ion-item lines="none">
                  <ion-label class="ion-text-wrap">Fecha de Constitución:</ion-label>
                  <ion-datetime cancelText="Cancelar" doneText="Seleccionar" displayFormat="DD MM YYYY"
                    formControlName="_FECHA_CONSTITUCION" placeholder="Seleccione una fecha">
                  </ion-datetime>
                </ion-item>
                <ion-item lines="none" *ngIf="submitted && f._FECHA_CONSTITUCION.errors">
                  <ion-label *ngIf="f._FECHA_CONSTITUCION.errors.required" color="danger">requerido</ion-label>
                </ion-item>
                <ion-item lines="none">
                  <ion-label class="labelBuscar" position="stacked">Dirección Sede:</ion-label>
                  <ion-textarea class="inputTextArea" formControlName="_DIRECCION_SEDE">
                  </ion-textarea>
                </ion-item>
                <ion-item lines="none" *ngIf="submitted && f._DIRECCION_SEDE.errors">
                  <ion-label *ngIf="f._DIRECCION_SEDE.errors.required" color="danger">requerido</ion-label>
                </ion-item>
                <br>
                <ion-item lines="none">
                  <ion-label position="stacked" class="labelBuscar">Departamento:</ion-label>
                  <ion-select formControlName="_DEPARTAMENTO" (ionChange)="onChangeDepartamentoJuridico($event)"
                    class="selectFormulario" placeholder="Seleccionar">
                    <ion-select-option *ngFor="let item of this.datosDepartamento" [value]="item.ID_LUGAR">
                      {{item.NOMBRE_LUGAR}}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item lines="none" *ngIf="submitted && f._DEPARTAMENTO.errors">
                  <ion-label *ngIf="f._DEPARTAMENTO.errors.required" color="danger">requerido</ion-label>
                </ion-item>
                <br>
                <ion-item lines="none">
                  <ion-label position="stacked" class="labelBuscar">Municipio:</ion-label>
                  <ion-select formControlName="_MUNICIPIO" class="selectFormulario" placeholder="Seleccionar">
                    <ion-select-option *ngFor="let item of this.datosMunicipio" [value]="item.ID_LUGAR">
                      {{item.NOMBRE_LUGAR}}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item lines="none" *ngIf="submitted && f._MUNICIPIO.errors">
                  <ion-label *ngIf="f._MUNICIPIO.errors.required" color="danger">requerido</ion-label>
                </ion-item>
                <ion-item lines="none">
                  <ion-label class="labelBuscar" position="stacked">Correo electrónico:</ion-label>
                  <ion-input formControlName="_EMAIL" class="inputText" clearInput="" autocapitalize="" type="email">
                    <ion-icon class="icon" slot="icon-only" name="mail-outline" item-start></ion-icon>
                  </ion-input>
                </ion-item>
                <div *ngIf="_EMAIL.errors?.pattern">
                  <ion-item lines="none">
                    <ion-label color="danger">No coincide el formato</ion-label>
                  </ion-item>
                </div>
                <br>
                <ion-item lines="none">
                  <ion-label position="stacked" class="labelBuscar">Ocupación del Representante:</ion-label>
                  <ion-select formControlName="_OCUPACION" class="selectFormulario" placeholder="Seleccionar">
                    <ion-select-option *ngFor="let item of this.datosOcupacion" [value]="item.ID_PROFESION">
                      {{item.DESC_PROFESION}}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <br>
                <ion-item lines="none" *ngIf="submitted && f._OCUPACION.errors">
                  <ion-label *ngIf="f._OCUPACION.errors.required" color="danger">requerido</ion-label>
                </ion-item>
                <ion-item lines="none">
                  <ion-label class="ion-text-wrap">Fecha de Nacimiento Representante:</ion-label>
                  <ion-datetime cancelText="Cancelar" doneText="Seleccionar" displayFormat="DD MM YYYY"
                    formControlName="_FECHA_NACIMIENTO" placeholder="Seleccione una fecha">
                  </ion-datetime>
                </ion-item>
                <ion-item lines="none" *ngIf="submitted && f._FECHA_NACIMIENTO.errors">
                  <ion-label *ngIf="f._FECHA_NACIMIENTO.errors.required" color="danger">requerido</ion-label>
                </ion-item>
                <br>
                <ion-item lines="none">
                  <ion-label position="stacked" class="labelBuscar">Nacionalidad del Representante:</ion-label>
                  <ion-select formControlName="_NACIONALIDAD" class="selectFormulario" placeholder="Seleccionar">
                    <ion-select-option *ngFor="let item of this.datosNacionalidad" [value]="item.CODIGO_NACIONALIDAD">
                      {{item.DESC_NACIONALIDAD}}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item lines="none" *ngIf="submitted && f._NACIONALIDAD.errors">
                  <ion-label *ngIf="f._NACIONALIDAD.errors.required" color="danger">requerido</ion-label>
                </ion-item>
                <br>
                <ion-item lines="none">
                  <ion-label class="labelBuscar" position="stacked">Dirección Representante:</ion-label>
                  <ion-textarea class="inputTextArea" formControlName="_DIRECCION_REPRESENTANTE">
                  </ion-textarea>
                </ion-item>
                <ion-item lines="none" *ngIf="submitted && f._DIRECCION_REPRESENTANTE.errors">
                  <ion-label *ngIf="f._DIRECCION_REPRESENTANTE.errors.required" color="danger">requerido</ion-label>
                </ion-item>
                <!-- <ion-button color="crecosa" class="btn" type="submit">Siguiente</ion-button> -->
              </ion-list>
            </ion-card>

            <ion-grid>
              <ion-row>
                <ion-col size="6">
                  <ion-button class="btn" (click)="this.presentAlertConfirm()" color="danger">Salir</ion-button>
                </ion-col>
                <ion-col size="6">
                  <ion-button color="crecosa" class="btn" type="submit"> Siguiente</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>